<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../favicon-16.png" sizes="16x16">
<link rel="icon" href="../favicon-32.png" sizes="32x32">
<link rel="icon" href="../favicon-48.png" sizes="48x48">
<link rel="icon" href="../favicon-64.png" sizes="64x64">
<link rel="icon" href="../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../apple-touch-icon.png">

<!--[if IE]>
    <link href="../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <!-- HIDE CLICKERS = PROJETO EM PILOTO NO MOMENTO DA DIVULGACAO DESTE MATERIAL
                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol> -->
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:tai@insper.edu.br?subject=TAI%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>11/07/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p><span class="nameCategory">FAQ </span></p>
                        </div>
                    </section>

                    <article class="contentMain row">
                        <p class="exp-rec">
                            <a class="expandAll"><img src="../img/ui/expandir.png" alt="Expandir tudo">Expandir tudo</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="colapseAll"><img src="../img/ui/recolher.png" alt="Recolher tudo">Recolher tudo</a>
                        </p>
                        <!-- Blackboard -->
                        <section class="blackboard-faq">
                            <header>
                                <h1>Blackboard</h1>
                            </header>
                            <dl>
                                <dt class="question">
                                    <h4><a href="#Blackboard1">É possível aproveitar testes que já estejam digitados no Word?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Sim. Existe uma ferramenta chamada Respondus 4.0 que permite importar os testes a partir de um documento do Word, desde que seguidas algumas regras simples de formatação. No site <a href="http://www.respondus.com/">http://www.respondus.com/</a>é possível baixar a versão trial. Uma licença para uso da ferramenta também foi adquirida pelo TAI.</p>
                                    <p>NãoEmbora o procedimento seja simples, recomendamos que a importação via documento do Word seja utilizada somente quando houver grande número de questões. Para criar testes mais enxutos, ainda é mais prático inserir as perguntas diretamente no Blackboard.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard2">O Teste pode ser aplicado em aula?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Sim. Em geral, o professor deve se preocupar com as seguintes questões:</p>
                                    <ul>
                                        <li>Antecipadamente, reservar os notebooks junto ao Help Desk. Na aula anterior, o professor também pode questionar a turma sobre os alunos que desejam usar equipamento próprio. Dessa maneira, poderá estimar quantos notebooks deverão ser solicitados.</li>
                                        <li>O teste não deverá estar disponível aos alunos antes do início de sua aplicação em sala. Há duas possibilidades: 1. Ao criar o teste, deixá-lo indisponível e, somente no momento da aplicação em sala, habilitá-lo. 2. Deixar o teste disponível, mas configurar uma senha de acesso; nesse caso, o professor só deve revelar a senha à turma no momento apropriado.</li>
                                        <li>Como os alunos finalizam o teste em diferentes momentos, não é recomendado que as respostas corretas sejam reveladas ao término da atividade. O professor deve disponibilizar as respostas corretas apenas após o último aluno finalizar o teste.</li>
                                        <li>O professor deve estar atento aos alunos não presentes em sala. Caso um aluno tenha faltado e feito o teste de casa, cabe ao professor aceitar ou não a atividade. Quando se usa senha, as chances de isso acontecer são menores.</li>
                                    </ul>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard3">Como reaproveitar o mesmo teste em diferentes turmas?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Uma maneira é fazer a cópia da disciplina de uma turma para outra. Serão solicitados os itens que deverão ser copiados (avisos, conteúdos, testes etc.). Outra maneira é exportar o teste no ambiente da turma de origem e, na sequência, importar o arquivo gerado no ambiente da disciplina de destino.</p>

                                <dt class="question">
                                    <h4><a href="#Blackboard4">Como limitar o tempo em que o aluno faz o teste?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Ao criar um teste ou modificá-lo nas “Opções de Teste” há um item chamado "Configurar cronômetro". Além dele, é possível configurar se o Blackboard enviará automaticamente o teste do aluno ao término do tempo (ainda que incompleto), ou se o aluno poderá exceder o tempo estabelecido.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard5">É possível randomizar questões entre os alunos, de modo que cada aluno faça um teste diferente?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Sim. Ao configurar um teste, uma das opções é “Perguntas em ordem aleatória”. No entanto, essa opção irá somente “embaralhar” as perguntas, de maneira que cada aluno responda às questões em uma ordem diferente. Se o intuito é diferenciar inclusive as questões, isso deve ser configurado no momento de definir quais perguntas irão compor o teste. É possível, por exemplo, criar blocos aleatórios de perguntas que serão “sorteadas” a partir de um Banco de Testes, de maneira que cada aluno receberá um teste diferente.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard6">É possível corrigir automaticamente questões dissertativas?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Não. Questões abertas devem ser avaliadas individualmente.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard7">Como impedir o acesso à internet, arquivos, programas ou comunicação entre os alunos durante o teste?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Existem algumas ferramentas que impedem os alunos de acessarem quaisquer outros recursos no momento do teste. Nativamente, no entanto, o Blackboard não possui nenhum meio de impedir tais práticas. O TAI está avaliando algumas ferramentas de bloqueio para que possam ser testadas em pilotos.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard8">É possível incluir gráficos, tabelas e outras imagens nas questões do teste?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Sim. No momento de configurar quais perguntas irão compor o teste, há um botão chamado “Configurações da pergunta”. Nessa área é possível habilitar que imagens, arquivos e links sejam incluídos nas perguntas.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard9">Digitei minhas notas, mas quando vou até a página para exportá-las, nada aparece. O que fazer?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Retorne até a Central de Notas, localize a coluna de Média, clique nas opções da coluna e selecione “Configurar como nota externa”. Volte até a página de exportação e as notas agora devem aparecer. Selecione os alunos necessários e exporte normalmente.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard10">Depois que uma entrega de exercício foi criada na modalidade “Todos os alunos individualmente” é possível alterar para que os alunos entreguem em “Grupos”? E vice-versa?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Sim. Nos dois casos é possível realizar a alteração, caso nenhum aluno tenha efetuado o envio do trabalho ainda.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard11">O Blackboard permite que seja feito arredondamento da média final?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Não. A coluna média é calculada automaticamente a partir das ponderações inseridas. Portanto, não é possível fazer ajustes manuais. Caso seja necessário realizar um arredondamento, faça-o nas notas intermediárias, que refletirão na média final.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard12">Coloquei um arquivo no lugar errado dentro da disciplina. Há a possibilidade de movê-lo?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Sim. Clique nas opções do arquivo em questão e selecione a opção “Mover”. Na página seguinte, localize o local correto do arquivo e salve a alteração.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard13">Criei uma entrega de exercício limitada a um envio e o aluno diz ter submetido o arquivo errado. Posso liberar mais um envio para este aluno?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Sim. Vá até a Central de Notas e localize o envio do aluno. Clique nas opções do envio e selecione “Exibir detalhes da nota”. Na próxima etapa você encontrará as opções “Limpar tentativa” e “Permitir tentativa adicional”. Em ambas o aluno conseguirá enviar novamente. Porém, na primeira, a tentativa atual será apagada.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard14">Criei uma coluna de média, fiz todas as ponderações corretamente, mas mesmo assim o Blackboard está calculando a média de maneira errada. O que acontece?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <ol>
                                        <li>Dentro das configurações da coluna média, após a caixa de ponderações, existe uma opção chamada “Calcular como total em execução”. Essa opção deve estar marcada como “não” (atividades ainda não realizadas são consideradas como nota zero).</li>
                                        <li>Todas as colunas utilizadas na ponderação devem possuir “Pontos Possíveis” iguais a dez. Para fazer essa verificação, vá até a Central de Notas e passe o mouse por cima dos nomes das colunas. Logo acima da tabela com as notas você verá os pontos possíveis da coluna, seu tipo e nome. Caso alguma delas esteja com a pontuação diferente de dez, é necessário alterar. Clique nas opções da coluna e selecione “Editar Informações da Coluna”.</li>
                                    </ol>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard15">Criei grupos com inscrição automática, mas um dos alunos diz se inscreveu no grupo errado. Como é possível efetuar a troca de grupo?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Somente o professor pode fazer essa alteração. Vá até a página de Grupos e, no canto superior direito, clique na opção “Conjunto de Grupos”. No conjunto desejado clique nas opções e selecione “Editar inscrições do grupo”. Nesta página você poderá remover o aluno do grupo errado e incluí-lo no correto, ou deixar que o aluno se inscreva em outro grupo.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard16">Criei manualmente grupos no Blackboard, mas, depois desta data, alguns alunos novos foram matriculados na disciplina. Como posso incluí-los nos grupos já existentes?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Vá até a página de Grupos e, no canto superior direito, clique na opção “Conjunto de Grupos”. No conjunto desejado, clique nas opções e selecione “Editar inscrições do grupo”. Nesta página você poderá remover o aluno do grupo errado e incluí-lo no correto. No final da página também há uma opção “Adicionar grupo”. Se necessário, você poderá criar um novo grupo para incluir estes novos alunos.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard17">Copiei minha disciplina do período anterior para a nova disciplina, mas os testes que eu possuía não estão na área de Conteúdo. Fiz algo errado?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Não. Os testes estão em sua disciplina, apenas não estão implementados na área de Conteúdo. Para disponibilizar o teste, vá até o local onde deseja inserir o teste, clique em “Avaliações” e “Testes”. Você notará que seus testes aparecerão listados. Clique em um deles e depois “Avançar”. Na página seguinte você poderá realizar as configurações usuais do teste. Ao clicar em “Enviar”, o teste aparecerá na área desejada.</p>
                                </dd>

                                <dt class="question">
                                    <h4><a href="#Blackboard18">Os botões para inserir conteúdo não estão aparecendo na minha disciplina. O que fazer?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>Vá até a área de Conteúdos. No canto superior direito, existe uma opção chamada “Modo de edição”, que serve para simular a visualização dos alunos (é por isso que, quando ativada, os botões deixam de aparecer). Se estiver aparecendo “DESATIVAR”, clique sobre esta palavra para ativar o modo de edição. Dessa forma os botões para inserir conteúdo reaparecerão.</p>
                                </dd>
                            </dl>
                        </section>

                        <!-- <section class="catme-faq">
                            <header>
                                <h1>Catme</h1>
                            </header>
                            <dl>
                                <dt class="question">
                                    <h4><a href="#Catme1">Acima de tudo, é fundamental ressaltar que a consolidação das estruturas facilita a criação do sistema de formação?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>A certificação de metodologias que nos auxiliam a lidar com a percepção das dificuldades estende o alcance e a importância das novas proposições. </p>
                                    <p>Não obstante, o comprometimento entre as equipes talvez venha a ressaltar a relatividade dos modos de operação convencionais.</p>
                                </dd>
                            </dl>
                        </section> -->

                        <!-- <section class="clickers-faq">
                            <header>
                                <h1>Votadores eletrônicos (clickers)</h1>
                            </header>
                            <dl>
                                <dt class="question">
                                    <h4><a href="#Cliquers1">Acima de tudo, é fundamental ressaltar que a consolidação das estruturas facilita a criação do sistema de formação?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>A certificação de metodologias que nos auxiliam a lidar com a percepção das dificuldades estende o alcance e a importância das novas proposições. </p>
                                    <p>Não obstante, o comprometimento entre as equipes talvez venha a ressaltar a relatividade dos modos de operação convencionais.</p>
                                </dd>
                            </dl>
                        </section> -->

                        <!-- <section class="recursos-faq">
                            <header>
                                <h1>Casos, Simuladores e Cursos online</h1>
                            </header>
                            <dl>
                                <dt class="question">
                                    <h4><a href="#casos1">Acima de tudo, é fundamental ressaltar que a consolidação das estruturas facilita a criação do sistema de formação?</a></h4>
                                </dt>
                                <dd class="answer">
                                    <p>A certificação de metodologias que nos auxiliam a lidar com a percepção das dificuldades estende o alcance e a importância das novas proposições. </p>
                                    <p>Não obstante, o comprometimento entre as equipes talvez venha a ressaltar a relatividade dos modos de operação convencionais.</p>
                                </dd>
                            </dl>
                        </section> -->
                    </article>

                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../js/libs/angular.js"></script>
<script src="../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../js/listaCompletaManual.js"></script>

<!-- Scripts: do projeto -->
<script src="../js/main.js"></script>
</body>
</html>
