<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Recursos e Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Recursos e Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>


                         <h5 class="icoDiarioClasse">Sistema de Gestão de Registro de Disciplinas</h5>
                        <ol class="noCategory" ng-repeat="item in diarioClasseInformacoes | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in diarioClasseSistema | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist ng-class: addMark()" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:dea@insper.edu.br?subject=DEA%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>10/08/2015</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Votadores eletrônicos (clickers) </span>
                                <span>&#62; </span>
                               Promover votação eletrônica em sala de aula
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row manuais-pedag">
                        <h1>Promover votação eletrônica em sala de aula</h1>
                        <p>É possível que todos os alunos respondam via dispositivos móveis a perguntas feitas pelo professor em sala de aula, de modo que os resultados sejam registrados e apresentados imediatamente. Essa dinâmica é chamada de votação eletrônica. Os votos podem ser anônimos ou identificados.</p>
                        <p>A votação eletrônica em sala de aula pode ser usada para diferentes fins, dentre eles:</p>
                        <ul>
                            <li>Manter a atenção e engajamento dos alunos durante a aula.</li>
                            <li>Promover discussões e interação entre os alunos da turma</li>
                            <li>Criar um ambiente “seguro” para que alunos tímidos participem mais das aulas.</li>
                            <li>Avaliar o conhecimento prévio dos alunos.</li>
                            <li>Checar o entendimento ao longo da aula.</li>
                            <li>Localizar misconceptions.</li>
                            <li>etc.</li>
                        </ul>
                        <p>Pensando em subsidiar o planejamento e condução de votações eletrônicas em sala de aula, este material tem o intuito de apresentar aos professores os benefícios, possibilidades e desafios do uso desse recurso, além de fornecer dicas práticas com base nos seguintes materiais (consultados em julho de 2015):</p>
                        <ul>
                            <li><a href="http://teach.com/great-educational-resources/teaching-question-writing" target="_blank">3 Tips for Great Question Writing </a></li>
                            <li><a href="http://www.cmu.edu/teaching/resources/PublicationsArchives/StudiesWhitepapers/ClassroomResponse_Nov07.pdf" target="_blank">Classroom Response Systems</a></li>
                            <li><a href="http://cft.vanderbilt.edu/guides-sub-pages/clickers/" target="_blank">Classroom Response Systems (“Clickers”)</a></li>
                            <li><a href="http://www.brown.edu/about/administration/sheridan-center/teaching-learning/course-design/learning-technology/clickers" target="_blank">Clickers: Best Practice Use </a></li>
                            <li><a href="http://www.lifescied.org/content/6/1/9.full" target="_blank">Clickers in the Large Classroom: Current Research and Best-Practice Tips</a></li>
                        </ul>
                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <h2 id="beneficios-votacao">Benefícios da votação eletrônica em sala de aula</h2>
                        <p>Existem basicamente três tipos de uso da votação eletrônica em sala de aula, que evoluem em termos de benefícios pedagógicos: monitoramento, avaliação e Peer Instruction.</p>
                        <h3 class="subtitle">Monitoramento</h3>
                        <p>No nível mais básico de uso, votações eletrônicas podem auxiliar o professor a:</p>
                        <ul>
                            <li>Checar o comparecimento dos alunos às aulas.</li>
                            <li>Garantir algum nível de participação.</li>
                            <li>Aumentar o nível de atenção dos alunos.</li>
                        </ul>
                        <p>O professor também pode fazer perguntas básicas relativas às leituras ou atividades prévias, como meio de verificar se os alunos completaram as atividades preparatórias para determinada aula.</p>
                        <p>Neste cenário, o professor usa as votações eletrônicas para incentivar a frequência e algum nível básico de atenção e participação, mas faz poucas mudanças no desenho da aula em função da resposta dos alunos.</p>

                        <h3 class="subtitle">Avaliação</h3>
                        <p>No segundo nível, o professor usa votações eletrônicas para reunir informações, em tempo real, sobre a compreensão dos alunos sobre determinado conceito.</p>
                        <p>A partir desse feedback, o professor pode determinar se investe mais tempo em um tópico específico ou, caso a maior parte da turma esteja acompanhando o raciocínio, se pode passar para o tópico seguinte.</p>
                        <p>Nesse cenário os alunos ajudam a definir o ritmo das aulas, com indicação clara de sua compreensão ou confusão.</p>
                        <p>Existem diferentes tipos de questões que podem ser usadas para avaliar a compreensão dos alunos:</p>
                        <ul>
                            <li>Entendimento conceitual: esse tipo de questão traz, dentre suas alternativas, os principais <em>misconceptions</em> dos alunos em determinado tópico. As perguntas podem ser relacionadas a: classificar exemplos, relacionar características a conceitos, selecionar a melhor explanação para determinado conceito, escolher dentre diferentes opções, a melhor maneira de representar determinado conceito etc.</li>
                            <li>Aplicação: essas questões permitem que os alunos apliquem seu conhecimento e entendimento em situações e contextos particulares por meio de tomada de decisão. É uma oportunidade de relacionar o tópico estudado a situações do mundo real, implementar procedimentos ou técnicas etc.</li>
                            <li>Pensamento crítico: essas questões compreendem níveis mais elevados da Taxonomia de Bloom. Normalmente, diversas alternativas são passíveis de resposta, embora haja uma “melhor resposta” dado o contexto do problema. Esse tipo de questão é bastante efetiva para engajar os alunos em discussões.</li>
                            <li>Perspectiva do aluno: essas são questões em que os alunos devem compartilhar suas opiniões, experiências, dados demográficos etc. Embora não tenham uma resposta correta, podem gerar discussões ricas, principalmente relacionadas a assuntos sobre ética, valores e moral, permitindo que os alunos conectem sua experiência pessoal a conceitos mais abstratos da disciplina. Nesse caso recomenda-se que as respostas sejam anônimas.</li>
                        </ul>
                        <h3 class="subtitle">Peer Instruction</h3>
                        <p>A terceira abordagem intercala ciclos de apresentação de conceitos, pergunta e resposta, e período de discussão. A ideia é que os alunos defendam suas respostas e tentem convencer, com seu raciocínio, os colegas com opinião contrária. Ao término do tempo definido para as discussões é feito um novo ciclo de pergunta e resposta, em que é possível verificar o novo posicionamento dos alunos diante da mesma pergunta, após discussão entre os pares.</p>
                        <p>O esquema a seguir ilustra a dinâmica de Peer Instruction tal como formulada por Eric Mazur, professor da universidade de Harvard:</p>
                        <figure>
                            <img src="../../../img/Clickers/sobre-a-ferramenta/promover-votacao-eletronica-em-sala-de-aula/peer-instruction.png" alt="Peer Instruction Workflow">
                            <figcaption>Fonte: <a href="http://blog.peerinstruction.net/2012/07/03/choreography-of-a-flipped-classroom/" target="_blank">http://blog.peerinstruction.net/2012/07/03/choreography-of-a-flipped-classroom/</a>. Acesso em: jul/2015.</figcaption>
                        </figure>
                        <section class="row fix">
                            <div class="alert-caution">
                                <ul>
                                    <li>O segundo capítulo do livro <a href="http://www.amazon.com/How-Learning-Works-Research-Based-Principles/dp/0470484101">How Learning Works</a> explica o porquê de alunos novatos entenderem melhor um determinado assunto quanto explicado por outro aluno novato, em vez de um expert. Eis um dos benefícios do Peer Instruction!</li>
                                    <li>A página <a href="http://blog.peerinstruction.net/2013/01/15/quick-start-guide-to-flipping-your-classroom-with-peer-instruction/">Quick Start Guide to Flipping your Classroom with Peer Instruction</a> apresenta um passo a passo prático para (1) escolher um conceito a ser ensinado, (2) preparar e solicitar uma preparação prévia significativa, (3) elaborar questões para uso em classe e (4) conduzir a metodologia Peer Instruction junto aos alunos.</li>
                                </ul>
                            </div>
                        </section>
                        <h2 id="principais-desafios">Principais desafios</h3>
                        <p>Apesar dos muitos benefícios pedagógicos o uso de votação eletrônica em sala de aula apresenta alguns desafios, dentre eles:</p>
                        <ul>
                            <li>Problemas técnicos podem acontecer durante a dinâmica. Para evitar eventualidades é importante chegar com antecedência na sala de aula para testar a tecnologia. Além disso, é interessante ter um “Plano B” caso as coisas não saiam como o planejado.</li>
                            <li>Mudar qualquer metodologia com a qual já se está acostumado exige dedicação e coragem. É preciso investir tempo tanto no (re)planejamento das aulas como na elaboração de questões relevantes e significativas.</li>
                            <li>A implementação da dinâmica de votação em sala de aula também demanda mais tempo que uma lecture convencional. Nesse sentido é necessário que o professor adapte seu plano de aulas, ajustando a duração de cada atividade.</li>
                            <li>Ao usar votação eletrônica para checar a compreensão dos alunos, os professores podem se deparar com situações em que os alunos não compreenderam os conceitos ou possuem <em>misconceptions</em>. Nessas situações é preciso que a aula seja modificada “em pleno voo”. Isso pode ser um desafio para muitos professores</li>
                        </ul>
                        <h2 id="dicas-praticas">Dicas práticas: antes, durante e depois do uso</h3>
                        <p>No Insper, os professores dispõem do software TurningPoint para elaborar slides com as questões. Os votos podem ser computados por meio de duas alternativas:</p>
                        <ol>
                            <li><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/Clickers/sobre-a-ferramenta/funcionamento-votadores-fisicos/">Votadores físicos (aparelhos próprios do Insper)</a></li>
                            <li><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/Clickers/sobre-a-ferramenta/funcionamento-votadores-mobile/">Votadores mobile (via celulares, tablets ou notebooks dos alunos)</a></li>
                        </ol>
                        <section class="row fix">
                            <div class="alert-caution">
                                <p>Antes de usar votação eletrônica pela primeira vez em uma determinada disciplina, é importante que você alinhe com sua Coordenação:</p>
                                <ul>
                                    <li>A possibilidade de usar o recurso e sua relevância na disciplina: com qual turma começar, em que aula fazer o primeiro teste, quais os resultados esperados, a que objetivo a dinâmica atende etc.</li>
                                    <li>O planejamento da aula e as questões elaboradas.</li>
                                    <li>Qual das alternativas tecnológicas é mais apropriada.</li>
                                </ul>
                            </div>
                        </section>
                        <p>Veja a seguir algumas dicas práticas para utilização de votações eletrônicas:</p>
                        <h4>Antes</h4>
                        <ul>
                            <li>Converse com outros professores que já usaram a metodologia e, se possível, assista a uma aula para se familiarizar com a dinâmica e anotar pontos de atenção.</li>
                            <li>Reveja seu plano de aula e reserve tempo suficiente para as discussões, de acordo com o tipo de pergunta e com os objetivos de aprendizado da aula.</li>
                            <li>Leia com atenção os manuais e siga os procedimentos para uso dos votadores e preparação dos slides com as questões.</li>
                            <li>Se possível, prepare para os alunos um slide inicial com prints das telas do aparelho ou do software de votação, explicando passo a passo o processo (<a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/img/Clickers/sobre-a-ferramenta/promover-votacao-eletronica-em-sala-de-aula/Orientacao_Votadores_Mobile.pptx" rel="help">slide-modelo para versão mobile</a> | <a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/img/Clickers/sobre-a-ferramenta/promover-votacao-eletronica-em-sala-de-aula/Orientacao_Votadores_Fisicos.pptx" rel="help">slide-modelo para versão física</a>).</li>
                            <li>Agende com o pessoal de suporte um dia para testar a tecnologia em sala de aula, de preferência com os slides que você usará com os alunos.</li>
                        </ul>
                        <h4>Durante</h4>
                        <ul>
                            <li>Comunique para os alunos qual o papel das votações eletrônicas na disciplina: A participação valerá nota? A pontuação será condicionada a respostas corretas? Etc.</li>
                            <li>Explique detalhadamente o funcionamento da dinâmica de votação: Só vale a primeira escolha? É possível votar mais de uma vez? Como saber se a votação foi computada?</li>
                            <li>Na primeira aplicação, invista um tempo da aula para que os alunos testem a votação com perguntas “fictícias”.</li>
                            <li>Identifique os principais equívocos dos alunos e anote-os para, futuramente, incluí-los como alternativas nas questões (é importante que as alternativas erradas sejam plausíveis).</li>
                            <li>Durante as discussões, fique atento ao raciocínio dos alunos, inclusive nas respostas incorretas.</li>
                        </ul>
                        <h4>Após</h4>
                        <ul>
                            <li>Caso a dinâmica não tenha saído exatamente como você planejou, mantenha uma atitude positiva e reveja os pontos que falharam, buscando alternativas para que a aplicação seja melhor da próxima vez.</li>
                            <li>Reformule possíveis questões que não tenham ficado claras para os alunos ou aquelas que não geraram o “efeito esperado”. </li>
                            <li>Considere construir com outros colegas de disciplina ou de trilha um banco de boas questões para serem usadas em votações eletrônicas.</li>
                        </ul>
                        <div class="margemParaImagem" style="margin-top:60px"></div>
                        
                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                    </article>

                    <!-- Devido aos poucos itens do 'Saiba Mais'
                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div> -->
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in Sobre_a_ferramenta_clickers" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in Sobre_a_ferramenta_clickers" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../../js/libs/angular.js"></script>
<script src="../../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../../js/listaCompletaManual.js"></script>
<script src="../../../js/manuaisRelacionados.js"></script>
<script src="../../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../../js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59172929-3', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
