<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<title>Tecnlogias de Aprendizagem - Manuais de utilização</title>
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/css/pie.css">
<link rel="stylesheet" type="text/css" media="screen" href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/css/main.css">

<!--[if IE ]>
    <link href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body style="background-color:#ffffff">
<div class="wrapper fixedWrapperIe" style="border:none;">
    <section class="buscaMain" ng-controller="listaMenu" style="padding:20px">
        <div class="inputSearch">
            <form id="busca">
                <label for="pesquisa"></label>
                <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
            </form>
        </div>

        <nav role="navigation" class="navigationMain">
            <h5 class="icoBlackboard">Blackboard</h5>

            <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>    
            </ol>

            <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                    
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
            <li class="nameCategory">
                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                
            </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <h5 class="icoCatme">Catme</h5>
            <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <!-- HIDE CLICKERS = PROJETO EM PILOTO NO MOMENTO DA DIVULGACAO DESTE MATERIAL
            <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
            <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol> -->
            
            <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
            <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <div class="faqBusca icoFaq">
                <h5>
                <ol class="noCategory">
                    <li><a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/faq/index.html" class="" target="_blank">FAQ</a></li>
                </ol>
                </h5>
            </div>
            <div class="outros">
                <h6>
                    <a href="mailto:tai@insper.edu.br?subject=TAI%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                </h6>
            </div>
        </nav>
    </section>
</div>

<script src="../js/libs/jquery-1.10.2.min.js"></script>
<script src="../js/libs/angular.js"></script>
<script src="../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../js/listaCompletaManual.js"></script>

<!-- Scripts: do projeto -->
<script src="../js/main.js"></script>

</body>
</html>
