<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p  class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist ng-class: addMark()" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <!-- <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol> -->
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>
                        

                        <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:tai@insper.edu.br?subject=TAI%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>19/02/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Blackboard </span>
                                <span>&#62; </span>
                                Criar ou alterar testes com nota 
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row">
                        <h1>Criar ou alterar testes (com nota)</h1>
                        <p>É possível avaliar os alunos com diferentes tipos de teste, grande parte com correção automática. Embora sejam muito semelhantes, as pesquisas são anônimas e os alunos não recebem nota.</p>

                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <!--
                        
                        IMAGENS E BOX DE TEXTO
                        1- Alinhamento das imgs adicionar as classes: imgLeft ou imgRight. O comportamenteo padrão é centralizado;
                        2- Adicionar um id para cada box.
                        REGRAS:
                        - nome pasta assunto. ex: Bb, Catme, Casos, Clickers +
                        - nome da categoria [se houver]. ex: materiais, avaliação, trabalhos +
                        - nome do manual: as duas palavras iniciais. ex: criar pesquisa, associar rubric +
                        - numero identificador sequencial.

                        MODELO: BbMateriaisCarregarMateriais1

                        3- No CSS vc controla a posição de cada um. Há + de 1 media queries para adaptar!;
                        4- A classe 'boxDestaque' é o padrão. Para box com informações adicionais em fundo vermelho usar a classe 'boxDestaqueAdicional';
                        5- Após cada div.imageContainer inserir a div.respiro para aplicar uma margem entre eles. Insira um valor de margin-top no próprio html, visto que há inúmeras necessidades de tamanhos de margin;

                        -->

                        <h2 id="subTitulo1">Criar Testes</h2>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step1.png" alt="" class="">
                        </div>

                        <!-- <div class="margemParaImagem" style="margin-top:40px"></div> -->

                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step2.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota1">
                                <p>Defina um nome de forma que os alunos o identifiquem facilmente.</p>
                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota2">
                                <p>As informações escritas na caixa <strong>Descrição</strong> ficam disponíveis aos alunos antes de eles iniciarem o teste.</p>
                                <p>Aqui podem ser detalhados os resultados esperados, os conteúdos que serão avaliados etc.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step3.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota3">
                                <p>As <strong>Instruções</strong> aparecem aos alunos após o teste ser iniciado.</p>
                                <p>Explique aqui, por exemplo, se o teste poderá ser feito mais de uma vez, quanto vale cada questão etc.</p>
                                <p>Em seguida, clique em <strong>Enviar</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step4.png" alt="" class="imgRight">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota4">
                                <p>Para alterar nome, descrição e instruções do teste clique no botão ao lado do nome e escolha <strong>Editar</strong>.</p>
                            </div>
                            <div class="boxDestaqueAdicional" id="BbTesPesquisaCriarTesComNota5">
                                <p>Após criar o teste é necessário criar as perguntas.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:110px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step5.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota6">
                                <p>O botão <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Blackboard/testes-e-pesquisas/conhecer-os-tipos-de-pergunta-dos-testes-e-pesquisas/">Criar pergunta</a> permite que sejam adicionados ao teste diferentes tipos de questão.</p>
                                <p>As mais utilizadas são: Correspondência, Múltipla Escolha, Resposta Múltipla, Verdadeiro/Falso e Redação.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step6.png" alt="" class="">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota7">
                                <p>Após criar as perguntas desejadas, clique em <strong>OK</strong> e escolha o local em que o teste será disponibilizado aos alunos. No exemplo, será usada a pasta <strong>Conteúdos</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step7.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota8">
                                <p>Escolha o teste na lista e clique em <strong>Enviar</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step8.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota9">
                                <p>Se quiser que o teste seja aberto em uma nova janela do navegador quando for iniciado, escolha <strong>Sim</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step9.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota10">
                                
                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step9a.png" alt=""> 
                                    </div>
                                    <div class="c9">
                                        <p>Para tornar o teste disponível, escolha <strong>Sim</strong>.</p> 
                                    </div>    
                                </div>

                                <div class="row fltLeft">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step9b.png" alt=""> 
                                    </div>
                                    <div class="c9">
                                        <p>Defina também se um novo aviso deve ser criado para divulgar a disponibilização do teste no ambiente.</p> 
                                    </div>    
                                </div>

                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota11">
                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step9c.png" alt="">    
                                    </div>
                                    <div class="c9">
                                        <p>Escolha a quantidade de vezes que os alunos poderão fazer o teste. Se a opção <strong>Várias tentativas</strong> ficar desmarcada, os alunos só terão uma oportunidade.</p>    
                                    </div>
                                </div>

                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step9d.png" alt="">    
                                    </div>
                                    <div class="c9">
                                        <p>Sugerimos que o campo <strong>Forçar conclusão</strong> <span class="enfaseBox">NÃO</span> seja marcado.</p>    
                                    </div>
                                </div>

                                <div class="row fltLeft">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step9e.png" alt="">    
                                    </div>
                                    <div class="c9">
                                        <p>Se necessário, configure o cronômetro.</p>    
                                    </div>
                                </div>

                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota12">
                                <p>Para definir um período de tempo em que o teste ficará disponível marque as opções <strong>Exibir depois</strong> e/ou <strong>Exibir até</strong> e configure as datas.</p>
                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota13">
                                <p>As senhas podem ter até 15 caracteres e diferenciam maiúsculas de minúsculas.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step10.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota14">
                                <p>Caso você queira criar exceções, clique em <strong>Adicionar usuários ou grupos</strong> e escolha para quem deseja aplicá-las.</p>
                                <p>Em seguida, configure as exceções para os usuários ou grupos selecionados.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step11.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota15">
                                <p>Defina se haverá data de vencimento.</p>
                                <p>Defina também se os alunos poderão iniciar o teste após a data de vencimento.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step12.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota16">
                                <p>Marque a primeira opção para incluir uma coluna referente ao teste na <strong>Central de notas</strong>.</p>
                                <p>Caso você queira transformar o teste em uma autoavaliação, ou seja, um teste para reforçar o aprendizado dos alunos sem que as pontuações façam parte do cálculo da nota, marque a segunda opção.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step13.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota17">
                                <p>Escolha quais informações deseja exibir para os alunos após o teste ou em algum outro momento.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step14.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota18">
                                <p>Defina se as perguntas do teste serão exibidos de uma só vez ou se serão exibidas na tela individualmente.</p>
                                <p>Para que cada aluno veja as perguntas em uma ordem diferente, marque a opção <strong>Perguntas em ordem aleatória</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>
                        
                        <h2 id="subTitulo2">Alterar Testes</h2>
                        <p>Caso um determinado teste ainda não tenha sido disponibilizado aos alunos, ou se nenhum aluno tiver feito o teste, é possível alterar uma série de características.</p>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step15.png" alt="" class="">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota19">
                                <p>Para modificar as perguntas de um teste, selecione a opção <strong>Editar o teste</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step16.png" alt="" class="">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota20">
                                
                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c12">
                                        <p>Na tela que será aberta é possível:</p>    
                                    </div>
                                        
                                </div>
                                
                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step16a.png" alt="">    
                                    </div>
                                    <div class="c9">
                                        <p>Modificar o nome, a descrição e as instruções do teste.</p>        
                                    </div>
                                </div>

                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step16b.png" alt="">    
                                    </div>
                                    <div class="c9">
                                        <p>Acrescentar novas perguntas.</p>        
                                    </div>
                                </div>

                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step16c.png" alt="">    
                                    </div>
                                    <div class="c9">
                                        <p>Alterar a ordem das perguntas.</p>        
                                    </div>
                                </div>

                                <div class="row fltLeft">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step16d.png" alt="">    
                                    </div>
                                    <div class="c9">
                                        <p>Alterar ou excluir as perguntas inseridas no teste.</p>        
                                    </div>
                                </div>
                            </div>
                            <div class="boxDestaqueAdicional" id="BbTesPesquisaCriarTesComNota21">
                                <p>Ao tentar editar um teste já foi feito por algum aluno, o Blackboard exibirá um alerta. Leia-o atentamente, pois ao alterar determinadas configurações você perderá as tentativas dos testes dos alunos.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:110px"></div>

                        <p>Para alterar configurações como informações sobre o teste, instruções, datas de disponibilidade, prazos etc. selecione a opção <strong>Editar as opções de teste</strong>.</p>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step17.png" alt="" class="">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota22">
                                <p>Vá até o teste que deseja disponibilizar ou alterar, clique no botão ao lado e selecione a segunda opção.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-testes-com-nota/step18.png" alt="" class="">
                            <div class="boxDestaque" id="BbTesPesquisaCriarTesComNota23">
                                <p>Atenção: se o nome do teste for alterado, a coluna desse teste na <strong>Central de notas</strong> deverá ser editada manualmente</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                    </article>

                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in Criar_ou_alterar_testes" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in Criar_ou_alterar_testes" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../../js/libs/angular.js"></script>
<script src="../../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../../js/listaCompletaManual.js"></script>
<script src="../../../js/manuaisRelacionados.js"></script>
<script src="../../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../../js/main.js"></script>

<!-- Scripts: google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53927287-1', 'auto');
  ga('send', 'pageview');
  // ga('set', '&uid', {{UA-53927287-1}});
</script>
</body>
</html>
