<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Recursos e Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Recursos e Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist ng-class: addMark()" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:dea@insper.edu.br?subject=DEA%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>10/08/2015</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Blackboard </span>
                                <span>&#62; </span>
                               Planejar uma discussão via fórum
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row manuais-pedag">
                        <h1>Planejar uma discussão via fórum</h1>
                        <p>A dinâmica de discussão entre alunos – seja em pequenos grupos ou envolvendo toda a turma – pode ser conduzida tanto na sala de aula quanto a distância – online. Quando online, as discussões podem ser:</p>
                        <ul>
                            <li>Síncronas: quando alunos e professor conectam-se no mesmo horário, “ao vivo”, normalmente via ferramentas de chat ou videoconferência.</li>
                            <li>Assíncronas: quando alunos e professores interagem dentro de um determinado período de tempo, sem necessariamente estarem conectados “ao vivo”, normalmente via ferramenta de fórum.</li>
                        </ul>
                        <p>Pensando em subsidiar o planejamento e condução de discussões assíncronas, este material tem o intuito de apresentar aos professores os benefícios, possibilidades e desafios do uso de fóruns de discussão, além de fornecer dicas com base na prática de instituições que são referência no uso de fóruns em cursos presenciais e na modalidade blended learning.</p>

                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <h2 id="beneficios-discussoes">Benefícios das discussões via fórum</h2>
                        <p>Conduzir discussões pode ser uma excelente estratégia para aumentar a motivação dos alunos, promover agilidade intelectual e incentivar hábitos democráticos. Elas criam oportunidades para os alunos praticarem e aguçarem uma série de habilidades, incluindo a capacidade de articular e defender posições, considerar diferentes pontos de vista, elencar e avaliar evidências.</p>
                        <p>Enquanto as discussões fornecem caminhos para a exploração e a descoberta, liderar uma discussão pode gerar ansiedade: como são imprevisíveis por natureza, elas exigem dos professores certo grau de controle sobre o fluxo de informações. Felizmente, um planejamento cuidadoso pode ajudar a garantir que as discussões sejam animadas sem serem caóticas, que sejam exploratórias sem perderem o foco. Ao planejar uma discussão, é importante considerar não apenas a cognição, mas também fatores sociais, emocionais e de contexto, que podem fomentar ou inibir a troca produtiva de ideias.</p>
                        <p class="legend">Adaptado de:<a href="Adaptado de: http://www.cmu.edu/teaching/designteach/design/instructionalstrategies/discussions.html"> http://www.cmu.edu/teaching/designteach/design/instructionalstrategies/discussions.html</a>.</p>

                        <p>Por serem assíncronas e terem maior amplitude de tempo, as discussões via fórum:</p>
                        <ul>
                            <li>Favorecem que os alunos pesquisem, reflitam com mais profundidade e elaborem seus pensamentos antes de participarem da discussão.</li>
                            <li>Dão voz a mais alunos do que em uma discussão síncrona presencial ou online, facilitando a participação de alunos mais tímidos ou que necessitam se sentir mais seguros antes de participar.</li>
                            <li>Permitem trazer profissionais de sucesso ou especialistas para interagirem com os alunos, com maior flexibilidade em relação à sincronia de agendas.</li>
                        </ul>
                        <p>Além disso, por serem via internet e ficarem registradas, as discussões via fórum:</p>
                        <ul>
                            <li>Permitem a alunos e professores revisarem e consultarem as discussões a qualquer momento.</li>
                            <li>Favorecem mensuração objetiva do engajamento e da participação dos alunos.</li>
                        </ul>
                        <section class="row fix">
                            <div class="alert-caution">
                                <p>Grandes escolas de negócios do mundo já usam fóruns de discussão. Na Harvard Business School, por exemplo, muitos professores usam fóruns para discussão de casos, ampliando as possibilidades da sala de aula.</p>
                                <p>De modo semelhante, a IE Business School, pioneira no ensino ne negócios na modalide blended, faz das discussões via fórum um dos pilares de seus cursos.</p>
                            </div>
                        </section>
                        <p>No Insper, os professores têm acesso a diferentes ferramentas de interação no ambiente virtual de suas disciplinas no Blackboard, dentre elas o Fórum de Discussão.</p>
                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <h2 id="principais-desafios">Principais desafios</h2>
                        <p>Para que a experiência de discussão em fóruns online seja significativa para os alunos, alguns aspectos merecem atenção.</p>
                        <p>Como a mediação é um aspecto crucial, o professor precisa:</p>
                        <ul>
                            <li>Dispor de tempo de qualidade para planejar e, principalmente, mediar as discussões.</li>
                            <li>Manejar a ferramenta com desenvoltura e segurança.</li>
                        </ul>
                        <p>Como muitos alunos ainda não estão acostumados ou mesmo não gostam da metodologia – normalmente mais demandante do que outros tipos de atividade, o professor precisa:</p>
                        <ul>
                            <li>Incentivar a participação de modo convincente, mostrando relevância nas discussões.</li>
                            <li>Lidar com eventuais dificuldades e auxiliar os alunos sempre que necessário.</li>
                        </ul>
                        <p>Como as interações são feitas predominante por escrito, sem a facilidade da improvisação e dos aspectos extralinguísticos da sala de aula presencial, o professor precisa:</p>
                        <ul>
                            <li>Escrever de modo leve e cordial, evitando mal-entendidos.</li>
                            <li>Mediar eventuais conflitos que surjam durante as discussões.</li>
                        </ul>
                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <h2 id="dicas-praticas">Dicas práticas: antes, durante e depois das discussões</h2>
                        <h4>Ao planejar uma discussão via fórum e configurar a ferramenta</h4>
                        <ul>
                            <li>Separe tempo de qualidade em sua agenda para se dedicar. Se puder participar diariamente, melhor! (e praticamente necessário, no caso de programas blended).</li>
                            <li>Organize a estrutura temática do fórum de modo claro e lógico, preferencialmente deixando um tema por linha. Para não engessar a discussão, pode ser criada uma linha extra para discussão de outros assuntosfora da pauta.</li>
                            <li>Selecione temas relevantes e polêmicos, nos quais as diferentes experiências e pontos de vista dos alunos possam ajudar a ter uma visão mais completa do assunto em questão.</li>
                            <li>Formule perguntas abertas e não óbvias, para não “esgotar” as possibilidades na segunda participação. Se for para “discutir por discutir”, melhor não abrir um fórum!</li>
                            <li>Se a dinâmica de fóruns será avaliada, planeje quais serão os critérios, levando em consideração não apenas forma e quantidade, mas também a qualidade da participação dos alunos. O uso de rubrics pode ajudar a tornar os critérios explícitos e objetivos aos alunos.</li>
                        </ul>
                        <section class="row fix">
                            <div class="alert-caution">
                                <p>Na Internet há uma série de rubrics para avaliar fóruns de discussão. Faça uma pesquisa, compare as diferentes possibilidades e aproveite e/ou adapte aquilo que for relevante para sua proposta didática.</p>
                                <p>Lembre-se que o Blackboard possui uma ferramenta que permite avaliar a participação dos alunos por meio de rubric, também no fórum. Para saber mais, acesse os manuais:</p>
                                <ul class="icos-manuais">
                                    <li class="blackboard"><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/Blackboard/rubrics/criar-uma-rubric/">Criar Rubric</a></li>
                                    <li class="blackboard"><a href-"https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/Blackboard/rubrics/associar-rubric-a-atividades/">Associar Rubric a atividades</a></li>
                                </ul>
                            </div>
                        </section>
                        <h4>Antes de começar uma discussão via fórum</h4>
                        <ul>
                            <li>Alinhe expectativas, comunicando aos alunos, desde o início, qual o papel do fórum na disciplina.</li>
                            <li>Explicite o que você espera da participação dos alunos em termos de postura crítica e frequência das postagens.</li>
                            <li>Se julgar necessário, forneça instruções técnicas sobre como manejar a ferramenta.</li>
                            <li>Limite a quantidade de posts por período e também a extensão máxima de cada post. Ex.:
                                <ul>
                                    <li>Participação deve ser diária, até “x” participações por semana etc.</li>
                                    <li>Participação no último dia “conta menos”.</li>
                                    <li>Deve ser feito ao menos um post e respondido ao menos três posts de colegas.</li>
                                    <li>etc.</li>
                                </ul>
                            </li>
                            <li>Combine com os alunos qual será o seu papel e sua dedicação nos fóruns. Caso não possa participar em algum dia/horário acordado, avise a turma.</li>
                            <li>Forneça aos alunos com máxima antecedência um calendário com as datas e horários de lançamento de novas sequências de discussão, além do períodos de vigência de cada fórum, para que eles possam programar sua participação.</li>
                        </ul>
                        <h4>Durante a discussão via fórum</h4>
                        <ul>
                            <li>Participe ativamente da discussão. Os alunos se envolvem mais quando percebem o professor fazendo parte.</li>
                            <li>Use os fóruns iniciais para conhecer o nível dos alunos. A partir dessa percepção, encaminhe a discussão, por exemplo, dando perguntas mais fáceis para os alunos mais iniciantes e perguntas mais complexas para alunos com maior conhecimento no assunto.</li>
                            <li>Acompanhe sempre, responda quando necessário! Em vez de responder diretamente a cada aluno, relacione postagens e triangule questões. Exemplo: “vejo que Fulano e Siclano estão com dúvida sobre X; quem pode ajudar a responder a essa questão?”.</li>
                            <li>Incentive constantemente a participação, valorize boas participações e ajude a turma a manter o foco.</li>
                            <li>Crie um "Arquivo de promessas" para anotar perguntas feitas por alunos em determinados fóruns, mas que dizem respeito à temática de fóruns futuros. Não esqueça de respondê-las no momento oportuno!</li>
                            <li>Avalie não apenas forma e quantidade, mas também a qualidade da participação dos alunos, explicitando desde o início os critérios de avaliação (o uso de rubrics pode ajudar).</li>
                            <li>Conforme os alunos forem alcançando determinados “pontos-chave” ao longo das discussões, faça sínteses e destaque os aspectos relevantes da discussão até aquele ponto.</li>
                            <li>Publique novas sequências periodicamente, para não esgotar as discussões.</li>
                        </ul>
                        <div class="margemParaImagem" style="margin-top:20px"></div>
                        <section class="row fix">
                            <div class="ballon-discussao-forum c12">
                                <h5>Reconheça diferentes perfis de alunos e converse em particular:</h5>
                                <div class="c4">
                                    <figure><img src="../../../img/Blackboard/comunicacao-e-interacao/planejar-discussao-via-forum/ballon1.png" alt="Já sei que você sabe, então me ajude a fazer com que os outros alunos também aprendam."></figure>
                                    <div class="display">
                                        <span>Faça daqueles que “sabem muito” seus aliados.</span>
                                    </div>
                                </div>
                                <div class="c4">
                                    <figure><img src="../../../img/Blackboard/comunicacao-e-interacao/planejar-discussao-via-forum/ballon2.png" alt="Vocês não estão aproveitando a oportunidade."></figure>
                                    <div class="display">
                                        <span>Diferencie os alunos "free riders" (espertinhos) dos “inocentes” (perdidos).</span>
                                    </div>
                                </div>
                                <div class="c4">
                                    <figure><img src="../../../img/Blackboard/comunicacao-e-interacao/planejar-discussao-via-forum/ballon3.png" alt="Que tal você desacelerar um pouco?"></figure>
                                    <div class="display">
                                        <span>Não permita que determinados alunos monopolizem a discussão.</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <h4>Após a discussão via fórum</h4>
                        <ul>
                            <li>Faça o resumo da discussão, incluindo menção a trechos de boas participações com seus respectivos autores.</li>
                            <li>Bloqueie o fórum quando o objetivo for alcançado. Isso evita que alunos “atrasados” continuem participando apenas para “cumprir tabela”.</li>
                            <li>Publique um aviso notificando que o fórum está encerrado.</li>
                        </ul>
                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <h2 id="exemplos">Exemplos de questões para promover uma discussão mais efetiva</h2>
                        <p>Algumas respostas contribuem para manter a discussão viva, provocando os alunos e fazendo com que os debates sejam mais profundos. Exemplos:</p>
                        <ul>
                            <li>“Esse é um ponto interessante. O que alguém que discorda de você poderia dizer para desafiar a sua opinião?”</li>
                            <li>“Você pode comparar sua resposta à resposta de [post de outro aluno]? Vocês dois querem dizer a mesma coisa ou não? Por que sim ou por que não?”</li>
                            <li>“Você faz uma boa observação. Você pode nos dar alguns exemplos para apoiar seu ponto de vista?”</li>
                            <li>“Quais são as alternativas para o que você sugeriu? Existem outras soluções possíveis?”</li>
                            <li>“Qual foi o seu raciocínio para chegar a esse ponto? Você pode comparar o seu ponto de vista com o [post de outro aluno]? O que é diferente e o que é semelhante entre os dois posicionamentos?”</li>
                            <li>“O que poderia acontecer em [situação que está sendo discutida] se a sua ideia fosse implementada da maneira como você descreveu?”</li>
                        </ul>
                        <div class="margemParaImagem" style="margin-top:60px"></div>
                        
                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                    </article>

                    <!-- Devido aos poucos itens do 'Saiba Mais'
                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div> -->
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in Planejar_discussao_via_forum" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in Planejar_discussao_via_forum" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../../js/libs/angular.js"></script>
<script src="../../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../../js/listaCompletaManual.js"></script>
<script src="../../../js/manuaisRelacionados.js"></script>
<script src="../../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../../js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59172929-3', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
