<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Recursos e Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Recursos e Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory selectedCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:dea@insper.edu.br?subject=DEA%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>18/07/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Casos, Simuladores, Cursos online </span>
                                <span>&#62; </span>
                                Consultar recursos disponíveis
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row">
                        <h1>Consultar recursos disponíveis</h1>
                        <p>O Insper dispõe dos seguintes recursos de aprendizagem que podem ser usados em sala de aula: casos, simuladores e cursos online. Por meio da <a href="http://www.insper.edu.br/casos/resumo-casos/" target="_blank">Coleção de Casos Insper</a>, do <a href="http://store.darden.virginia.edu/" target="_blank">Portal de Darden </a>e do <a href="http://hbsp.harvard.edu/" target="_blank">Portal de Harvard</a> é possível consultar quais são os recursos disponíveis, sem necessidade de cadastro prévio.</p>
                        <p>Para ter acesso a informações mais detalhadas dos recursos ou mesmo solicitar seu uso em turmas específicas, é necessário:</p>
                        <ul>
                            <li>Se os recursos forem de Darden e Harvard, realizar o cadastro prévio nos respectivos portais. O cadastro é necessário para consultar os <em>teaching notes</em> ou gerenciar recursos já em uso.</li>
                            <li>Se o recurso for um Caso, acessar o sistema CUCA: o sistema gerencia as solicitações de casos Insper, Darden e Harvard. Todos os professores do Insper possuem acesso ao sistema.</li>
                        </ul>

                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <!--
                        
                        IMAGENS E BOX DE TEXTO
                        1- Alinhamento das imgs adicionar as classes: imgLeft ou imgRight. O comportamenteo padrão é centralizado;
                        2- Adicionar um id para cada box.
                        REGRAS:
                        - nome pasta assunto. ex: Bb, Catme, Casos, Clickers +
                        - nome da categoria [se houver]. ex: materiais, avaliação, trabalhos +
                        - nome do manual: as duas palavras iniciais. ex: criar pesquisa, associar rubric +
                        - numero identificador sequencial.

                        MODELO: BbMateriaisCarregarMateriais1

                        3- No CSS vc controla a posição de cada um. Há + de 1 media queries para adaptar!;
                        4- A classe 'boxDestaque' é o padrão. Para box com informações adicionais em fundo vermelho usar a classe 'boxDestaqueAdicional';
                        5- Após cada div.imageContainer inserir a div.respiro para aplicar uma margem entre eles. Insira um valor de margin-top no próprio html, visto que há inúmeras necessidades de tamanhos de margin;

                        -->

                        <h2 id="subtitulo1">Casos, simuladores e cursos online de Harvard</h2>
                        <p>Para conhecer os recursos disponíveis em Harvard, basta acessar o portal.</p>

                        <div class="imageContainer row">
                            <img src="../../img/Recursos/consultar-recursos-disponiveis/step1.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="RecursosConsultar1">
                                <p>Acesse o <a href="http://hbsp.harvard.edu/" target="_blank">portal</a> e navegue pelo menu <strong>Disciplines</strong>, <strong>Content</strong> e <strong>Case Method</strong> ou utilize a caixa de busca.</p>
                            </div>
                            <div class="boxDestaque" id="RecursosConsultar2">
                                <p>Clique no nome do recurso para ter acesso à sua descrição.</p>
                            </div>
                            <div class="boxDestaqueAdicional" id="RecursosConsultar3">
                                <p>Para ter acesso à versão do professor e às respectivas notas de ensino dos recursos é necessário realizar o cadastro no portal de Harvard com o perfil "Educator Premium".</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:80px"></div>

                        <h4 class="subTopicos">Cadastro no portal de Harvard</h4>

                        <div class="imageContainer row">
                            <img src="../../img/Recursos/consultar-recursos-disponiveis/step2.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="RecursosConsultar4">
                                <p>Preencha a ficha de inscrição, atentando para o seguinte:</p>
                                <p><strong>Email</strong>: e-mail do Insper</p>
                                <p><strong>Username</strong>: mesmo login do Insper</p>
                            </div>
                            <div class="boxDestaque" id="RecursosConsultar5">
                                <p>Ao finalizar o registro, você receberá um e-mail de confirmação. Esse e-mail deverá ser encaminhado para <a href="mailto:casos@insper.edu.br?subject=Cadastro%20Havard">casos@insper.edu.br</a>, para que suas informações sejam confirmadas junto a Harvard.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <p>Após realizar o cadastro, faça o login no portal.</p>
                        <div class="imageContainer row">
                            <img src="../../img/Recursos/consultar-recursos-disponiveis/step3.png" alt="" class="imgLeft">
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>


                        <!-- 
                        ################################################################
                        -->

                        <h2 id="casos-darden">Casos de Darden</h2>
                        <p>Para conhecer os casos disponíveis em Darden, basta acessar o portal.</p>
                        <div class="imageContainer row">
                            <img src="../../img/Recursos/consultar-recursos-disponiveis/step4.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="RecursosConsultar6">
                                <p>Acesse o <a href="http://store.darden.virginia.edu/" target="_blank">portal</a> e navegue pelo menu <strong>Categories</strong> ou utilize a caixa de busca.</p>
                            </div>
                            <div class="boxDestaque" id="RecursosConsultar7">
                                <p>Clique no caso para ter acesso ao resumo e especificações.</p>
                            </div>
                            <div class="boxDestaqueAdicional" id="RecursosConsultar8">
                                <p>Para ter acesso à versão do professor e às respectivas notas de ensino dos recursos é necessário realizar o cadastro no portal de Darden.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:120px"></div>

                        <h4 class="subTopicos">Cadastro no portal de Darden</h4>
                        <div class="imageContainer row">
                            <img src="../../img/Recursos/consultar-recursos-disponiveis/step5.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="RecursosConsultar9">
                                <p>Preencha a ficha de inscrição, atentando para o seguinte:</p>
                                <p><strong>Email Address</strong>: e-mail do Insper</p>
                                <p><strong>User Type:</strong> “Faculty Member”</p>
                            </div>
                            <div class="boxDestaque" id="RecursosConsultar10">
                                <p>Ao finalizar o registro, você receberá um e-mail de confirmação. Esse e-mail deverá ser encaminhado para <a href="mailto:casos@insper.edu.br?subject=Cadastro%20Darden">casos@insper.edu.br</a>, para que suas informações sejam confirmadas junto a Darden.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <p>Após realizar o cadastro, faça o login no portal.</p>
                        <div class="imageContainer row">
                            <img src="../../img/Recursos/consultar-recursos-disponiveis/step6.png" alt="" class="imgLeft">
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>


                        <!-- 
                        ################################################################
                        -->

                        <h2 id="casos-insper">Casos Insper</h2>
                        <p>Para conhecer os casos disponíveis no Insper, basta acessar o portal.</p>
                        <div class="imageContainer row">
                            <img src="../../img/Recursos/consultar-recursos-disponiveis/step7.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="RecursosConsultar11">
                                <p>Acesse a <a href="http://www.insper.edu.br/casos/resumo-casos/" target="_blank">Coleção de Casos</a> Insper e navegue pelas áreas de conhecimento ou utilize a caixa de busca.</p>
                            </div>
                            <div class="boxDestaque" id="RecursosConsultar12">
                                <p>Clique no nome do caso para ter acesso ao resumo e objetivos de aprendizagem.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>
                        <p>Para ter acesso às <em>teaching notes</em> de todos os casos disponíveis (Insper, Harvard e Darden) basta acessar o sistema de Controle de Utilização de Casos – CUCA.</p>
                        <div class="imageContainer row">
                            <img src="../../img/Recursos/consultar-recursos-disponiveis/step8.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="RecursosConsultar13">
                                <p>Acesse o <a href="http://cuca.insper.edu.br/" target="_blank">Cuca</a>, faça seu login com o usuário de rede e escolha <strong>Professor</strong> na lista de opções.</p>
                            </div>
                            <div class="boxDestaque" id="RecursosConsultar14">
                                <p>Localize o caso cuja <em>teaching note</em> você deseja consultar e clique em <strong>Download</strong>.</p>
                            </div>
                            <div class="boxDestaqueAdicional" id="RecursosConsultar15">
                                <p>Caso não localize alguma <em>teaching note</em> no CUCA, você pode consultá-la diretamente junto às instituições:</p>
                                <ul>
                                    <li>Insper: solicite para <a href="mailto:casos@insper.edu?subject=Casos%20Insper">casos@insper.edu.br</a>.</li>
                                    <li>Darden: cadastre-se em Darden e navegue pelo Portal.</li>
                                    <li>Harvard: cadastre-se em Harvard e navegue pelo Portal.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:200px"></div>
                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                    </article>

                    <!-- Devido aos poucos itens do 'Saiba Mais'
                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div> -->
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in consultar_recursos_disponiveis" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in consultar_recursos_disponiveis" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../js/libs/angular.js"></script>
<script src="../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../js/listaCompletaManual.js"></script>
<script src="../../js/manuaisRelacionados.js"></script>
<script src="../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59172929-3', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
