<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <title>Tecnologias de Aprendizagem - Manuais de utilização</title>
    <meta name="msapplication-TileImage" content="tile.png"/>
    <meta name="msapplication-TileColor" content="#d02034"/>

    <link rel="stylesheet" type="text/css" media="screen" href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/css/main.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" media="screen" href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/css/fixedBugIE.css">
    <![endif]-->
    <style type="text/css">
        .homeLinkModulo { margin: 0 0 10px 0; text-align: right; }
        .homeLinkModulo a { text-decoration: none; color: #c00026; position: relative; }
        .homeLinkModulo a:visited { color: #7b0012; }
        .homeLinkModulo a:hover { text-decoration: underline; }
        .homeLinkModulo a::before { content: ""; width: 18px; height: 18px; display: inline-block; background-color: orange; background: transparent url("https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/img/ui/icoHome.png") no-repeat center center; position: absolute; left: -2em; top: -2px;}
    </style>

</head>
<body style="background-color:#ffffff">
<div class="wrapper fixedWrapperIe" style="border:none;">
    <section class="buscaMain" ng-controller="listaMenu" style="padding:20px">
        <p class="homeLinkModulo"><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/" target="Visite a página dos manuais de Recursos e Tecnologias de Aprendizagem">Abrir em nova aba</a></p>
        <div class="inputSearch">
            <form id="busca">
                <label for="pesquisa"></label>
                <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
            </form>
        </div>

        <nav role="navigation" class="navigationMain">
            <h5 class="icoBlackboard">Blackboard</h5>

            <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>    
            </ol>

            <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                    
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>
            <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                    
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
            <li class="nameCategory">
                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                
            </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <h5 class="icoCatme">Catme</h5>
            <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
            <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>
            
            <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
            <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                <li class="nameCategory">
                    <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                </li>
                <li class="sublist" ng-show="item.manual.length > 1">
                    <a href="{{item.linkManual}}" type="text/html" target="_blank">{{item.manual}}</a>
                </li>
            </ol>

            <div class="faqBusca icoFaq">
                <h5>
                <ol class="noCategory">
                    <li><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/faq/index.html" class="" target="_blank">FAQ</a></li>
                </ol>
                </h5>
            </div>
            <div class="outros">
                <h6>
                    <a href="mailto:dea@insper.edu.br?subject=DEA%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                </h6>
            </div>
        </nav>
    </section>
</div>
<!-- image placeholder IE lower than 9 -->
<div class="banner">
    <a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/" target="_blank" title="Manuais de utilização, clique para acessar!"><img src="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/img/ui/bannerNoBox_Bb.png" alt="Manuais de utilização, clique para acessar!"></a>
</div>


<script src="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/js/libs/jquery-1.10.2.min.js"></script>
<script src="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/js/libs/angular.js"></script>
<script src="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/js/listaCompletaManual.js"></script>

<!-- Scripts: do projeto -->
<script src="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/js/main.js"></script>

</body>
</html>
