<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBb-aluno">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Recursos e Tecnologias de Aprendizagem - Manuais de utilização - Alunos</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="../../favicon-16.png">
    <link rel="stylesheet" type="text/css" media="print" href="../../css/print.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/main.css">
    <!--[if IE]>
        <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="../../js/libs/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Recursos e Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>
        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">
                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Assunto ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>
                    <nav role="navigation" class="navigationMain">
                        <!-- blackbaord -->
                        <h5 class="icoBlackboard">Blackboard</h5>
                        <ul class="noCategory" ng-repeat="item in blackboard | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                        
                        <!-- plagio acadêmico -->
                        <h5 class="icoPlagio">Plágio Acadêmico</h5>
                        <!-- <ol class="noCategory">
                            <li class="selectedCategory">Apresentação da Cartilha de Plágio</li>
                        </ol> -->
                        <ul class="noCategory" ng-repeat="item in plagio_academico | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>

                        <!-- curso online -->
                        <h5 class="icoCursosOnline">Curso online de Harvard</h5>
                        <ul class="noCategory" ng-repeat="item in curso_online | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>

                        <!-- clickers -->
                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ul class="noCategory" ng-repeat="item in clikcers | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                        
                         <!--catme -->
                        <h5 class="icoCatme">Catme</h5>
                        <ul class="noCategory" ng-repeat="item in catme | filter: {manual:searchText}">
                            <li class="sublist ng-class:addMark()">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p><span><strong>Atualizado: </strong>15/04/2016</span></p>
                        </div>
                    </section>
                    <article class="contentMain row">
                        <!-- 
                            INTRODUCAO
                            1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                            2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                            3- toda tag 'h2' receberá esta sintaxe:
                            '<h2 id="subTituloX>Texto aqui</h2>';
                            É necessário adicionar um número identificador na âncora;
                            4- Para casos em que haverá uma sublistagem no sumário adicionar no elemento 'h2' o atributo: data-sublist="true"
                            e para cada tópico desta listagem inserir a tag 'h3' com a seguinte sintaxe: '<h3 id="subList_sumarioX">'
                         -->
                        <h1 class="nameCategory">Apresentação do Catme</h1>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <a href="https://www.catme.org/login/index" title="CATME | Smarter Teamwork"><img src="../../img/aluno/catme/logo-catme.png" alt="logo Catme"></a>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <p>Para desenvolver a habilidade de Trabalho em Equipe você participará do processo de avaliação de pares, que consiste em observar seu desempenho e de seus colegas durante as atividades relacionadas ao trabalho em grupo, analisar este desempenho frente aos padrões estabelecidos pelo grupo previamente, realizar <em>feedbacks</em> para melhoria de desempenho e ajustar seus comportamentos em função dos <em>feedbacks</em>.</p>
                        <p>A avaliação usará a Ferramenta <strong>CATME - Comprehensive Assessment of Team Member Effectiveness</strong> (<a href="www.catme.org/" title="CATME | Smarter Teamwork" target="_blank">www.catme.org/</a>).</p>
                        <p>Cada professor fará a gestão do processo de avaliação em sua disciplina, bem como a apresentação dos resultados.</p>
                        <p>O processo completo de avaliação compreenderá as seguintes fases:</p>
                        <section class="catme fix">
                            <!-- 1 -->
                            <div class="ap-catme-steps c2">
                                <h6 class="ap-catme-steps-title"><a href="#subTitulo1">Cadastro na ferramenta</a></h6>
                                <div class="ap-catme-details">
                                    <ul>
                                        <li>Recebimento de e-mail para configurar senha</li>
                                        <li>Link de acesso</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="arrow-catme-steps c1">
                                <span class="arrow-catme"></span>
                            </div>
                            <!-- 2 -->
                            <div class="ap-catme-steps c2">
                                <h6 class="ap-catme-steps-title"><a href="#subTitulo2">Calibragem</a> (OPCIONAL)</h6>
                                <div class="ap-catme-details">
                                    <ul>
                                        <li>Avaliação de um grupo fictício para ajudar a identificar e analisar comportamentos ao longo do projeto</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="arrow-catme-steps c1">
                                <span class="arrow-catme"></span>
                            </div>
                            <!-- 3 -->
                            <div class="ap-catme-steps c3">
                                <h6 class="ap-catme-steps-title"><a href="#subTitulo3">Processo de avaliação</a></h6>
                                <div class="ap-catme-details">
                                    <ul>
                                        <li>Lembrete para o início da avaliação</li>
                                        <li>Autoavaliação e avaliação dos membros do grupo</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="arrow-catme-steps c1">
                                <span class="arrow-catme"></span>
                            </div>
                            <!-- 4 -->
                            <div class="ap-catme-steps c2">
                                <h6 class="ap-catme-steps-title"><a href="#subTitulo4">Resultados</a></h6>
                                <div class="ap-catme-details">
                                    <ul>
                                        <li>Acesso às informações da avaliação individual e à média dos membros do grupo</li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <h2 id="subTitulo1">Cadastro na ferramenta</h2>
                        <p>Você receberá em seu e-mail do Insper um link para cadastrar sua senha na ferramenta.</p>
                        <p>Neste e-mail você será informado sobre qual disciplina fará uso da ferramenta de avaliação.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step1.png" alt="captura de tela-1" class="">
                        </div>
                        <p>Durante o período de avaliação, você receberá por e-mail mensagens automáticas enviadas pela ferramenta, com lembretes sobre as datas de cada fase do processo.</p>
                        <p><strong>Todas as mensagens serão enviadas para seu e-mail do Insper.</strong></p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step2.png" alt="captura de tela-2" class="">
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        
                        <h2 id="subTitulo2">Calibragem</h2>
                        <p>Antes de iniciar a avaliação dos seus pares, o professor pode solicitar que você passe por uma fase preparatória (calibragem), avaliando um grupo fictício de alunos para se familiarizar com a ferramenta.</p>
                        <p>Essa calibragem pode ser:</p>
                        <ol>
                            <li>Necessária até que você identifique corretamente a característica de cada membro na equipe fictícia.</li>
                            <li>Solicitada somente uma vez, independentemente de você ter identificado corretamente as características dos membros da equipe.</li>
                        </ol>
                        <p>Caso a calibragem seja necessária, você encontrará o link <strong>Calibration Required</strong>.  Você só conseguirá acessar a avaliação de seu grupo após finalizar essa fase.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step3.png" alt="captura de tela-3" class="">
                        </div>
                        <p>No início da avaliação você encontrará a descrição do grupo fictício, com o comportamento que cada membro apresentou ao longo do projeto.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step4.png" alt="captura de tela-4" class="">
                        </div>
                        <p>Durante a avaliação você poderá relembrar o comportamento de cada membro.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step5.png" alt="captura de tela-5" class="">
                        </div>
                        <p>Ao terminar a avaliação do grupo fictício você receberá um retorno sobre a análise de cada critério, indicando qual seria a melhor descrição para cada membro do grupo. A seta azul mostra qual foi sua indicação e, a vermelha, qual seria a classificação esperada. Já a seta verde mostra que você indicou a classificação que era esperada para aquele membro da equipe.</p>
                        <p>Caso você queira repetir a fase de preparação, acesse novamente a opção <strong>Continue with Calibration</strong>.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step6.png" alt="captura de tela-6" class="">
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>

                        <h2 id="subTitulo3">Processo de Avaliação</h2>
                        <p>Ao terminar o processo de calibragem, o sistema habilitará o link para que você faça sua autoavaliação e a avaliação dos membros de seu grupo.</p>
                        <p>Ao acessar o ambiente do CATME, você encontrará a identificação de seu grupo, a data inicial e final em que a pesquisa estará disponível e o nome da disciplina e da avaliação que foi definida pelo professor.</p>
                        <p>Clique em <strong>Complete Activity</strong> para iniciar.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step7.png" alt="captura de tela-7" class="">
                        </div>
                        <p>Leia atentamente as instruções antes de começar e responda todas as perguntas, levando em consideração as contribuições reais tanto suas quanto dos membros de seu grupo.</p>
                        <p>Clique em <strong>Complete Activity.</strong></p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step8.png" alt="captura de tela-8" class="">
                        </div>
                        <p>Cada critério da avaliação será apresentado individualmente. Na parte superior você encontra o que está sendo analisado e na parte central as descrições relacionadas ao critério. Cada coluna à esquerda corresponde a um membro do seu grupo, começando por você.</p>
                        <p>Ao finalizar a avaliação deste critério, clique em <strong>Next</strong> e avance para o próximo.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step9.png" alt="captura de tela-9" class="">
                        </div>
                        <p>A última etapa da avaliação é um campo aberto em que você pode deixar seus comentários para o professor (os comentários são confidenciais). Para finalizar a avaliação, clique em <strong>Finish</strong>.</p>
                        <p><strong>Obs.: O sistema não admite caracteres com acento. Favor não usá-los neste comentário.</strong></p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step10.png" alt="captura de tela-10" class="">
                        </div>

                        <h2 id="subTitulo4">Resultados</h2>
                        <p>Após o término da avaliação você deverá aguardar a liberação dos resultados. Nesta fase, ao acessar o CATME você visualizará somente a informação <strong>Submitted</strong>.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step11.png" alt="captura de tela-11" class="">
                        </div>
                        <p>Assim que os resultados forem liberados você receberá um e-mail de notificação.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step12.png" alt="captura de tela-12" class="">
                        </div>
                        <p>Ficará disponível a opção <strong>View Results</strong>.</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step13x.png" alt="captura de tela-13" class="">
                        </div>
                        <p>Para cada um dos critérios você terá um comparativo entre:</p>
                        <ul>
                            <li>Como você se avaliou</li>
                            <li>Como seus colegas o avaliaram</li>
                            <li>A média da avaliação do seu grupo</li>
                        </ul>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/catme/step14.png" alt="captura de tela-14" class="">
                        </div>
                        <p>Aproveite esta oportunidade para fazer uma auto reflexão e verificar seus pontos fortes e pontos de melhoria.</p>
                        <div class="margemParaImagem" style="height:40px"></div>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <!-- Scripts: plugins -->
    <script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
    <script src="../../js/libs/angular.js"></script>
    <script src="../../js/listaCompletaManual-aluno.js"></script>
    <script src="../../js/main.js"></script>
    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      // ga('create', 'UA-59172929-3', 'auto');
      // ga('send', 'pageview');
    </script>
</body>
</html>
