/*
    ===============================================================
    Manuais dos alunos
    ===============================================================
*/

/////////////////////////////////////////////////////////////////////
// Vars
/////////////////////////////////////////////////////////////////////

// fonts
$font: "verdana", "arial", "sans-serif";

// colors
$corDefault: #c00026; // red insper
$corTitle: #2d2d2d; // title h1 html
$corTexto: #414042; // default text content
$corBorda: #bcbec0; // gray default
$corDefaultDark: #7b0012; // red dark GUI
$corSec01: #f57d8c; // secundary GUI
$corSec02: #e64b64; // secundary2 GUI

// grids
$grid: 40px;
$meioGrid: $grid / 2;

@mixin font($fstyle, $fsize) {
    font: $fstyle $fsize $font;
}
@mixin corLink() {
    text-decoration: none;
    color: $corDefault;
    &:visited { color: $corDefaultDark }
    &:hover { text-decoration: underline; }
}
@mixin corLinkUpBox($corDigitada) {
    text-decoration: none;
    color: $corDigitada;
    &:visited { color: $corDigitada; }
    &:hover { text-decoration: underline; }
}

/////////////////////////////////////////////////////////////////////
// Mixin
/////////////////////////////////////////////////////////////////////

@mixin bShadow($typeShadow, $lenH,$lenV,$blur,$spread,$rgba) {
    box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
    -o-box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
    -ms-box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
    -moz-box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
    -webkit-box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
}
@mixin box-size($boxSize) {
    box-sizing: $boxSize;
    -o-box-sizing: $boxSize;
    -ms-box-sizing: $boxSize;
    -moz-box-sizing: $boxSize;
    -webkit-box-sizing: $boxSize;
}

@mixin radius($radius: 4px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}
@mixin settingsBoxImagem($widthBox, $leftBox, $topBox, $rightBox, $bottomBox) {
    position: absolute;
    width: $widthBox;
    left: $leftBox;
    bottom: $bottomBox;
    top: $topBox;
    right: $rightBox;
}

// Menu de navegação
.navigationMain {
    h5 { padding-left: $grid; }
    ul {
        li { padding-left: $grid;
            a { display: block; }
        }
    }
    .selectedCategory { padding-left: $grid; }
}

// sublistas do sumário
.sumario {
    ul {
        li { margin-bottom: $grid/8;
            ul { margin-top: $grid/8;
                li { padding-left: $grid/2; }
            }
        }
    }
}

// 'ol' dentro dos box de destaque
.imageContainer {
    .boxDestaque {
        ol { 
            margin: 0;
            padding-left: $grid/2;
            li:last-child { margin: 0; }
        }
    }
}

// box destaques (.boxDestaque)e box destaque adicional (.boxDestaqueAdicional)
.boxDestaque, .boxDestaqueAdicional { margin: ($grid/4) auto; }

// Subtítulos que estarão na sublistagem das âncoras
// h3["=subList_sumario"] { margin-bottom: 0; }
h3 + p { margin-top: 0; }

/* Plágio Acadêmico */
// categorização de plágio: tables
.table-plagio {
    tr {
        th, td {
            padding: .5em;
            border: 1px solid $corBorda;
            text-align: left;
            vertical-align: initial;
            ol { padding-left: 1.5em; }
        }
    }
}
.table-plagio_col2 {
    tr {
        td { width: 50%; }
    }

}
.table-plagio_col3 {
    tr {
        td { width: 33%; }
    }

}
// Notas de rodapé
.noteFooters {
    font-size: smaller;
    line-height: 1.425em;
    font-style: italic;
}


// Saiba Mais aluno
.saibaMais-aluno {
    margin: ($grid/2) 0 !important;
    ul {
        li { margin: ($grid/4) 0; }
        .plagio { background: url("../img/ui/icoPlagio2.png") 5px center no-repeat; }
    }
}

/* CATME */
// Apresentação
.ap-catme-steps {
    background: rgba(192,0,38,0.05);
    padding: .5em;
    border: 1px solid $corDefault;
    border-radius: $grid/8;
}
.ap-catme-steps-title {
    margin: 0;
    font-size: 1em;
    text-align: center;
}
.ap-catme-details {
    ul {
        margin: .5em 0 0;
        padding: 0;
        li {
            list-style-type: none;
            margin-bottom: .5em;
        }
    }
}
// setas
.arrow-catme {
    background: transparent url("../img/ui/catme-steps.png") center center no-repeat;
    display: block;
    height: 2em;
}

// DESKTOP
@media only screen and (min-width: 769px) {
    /* Inserir foto (carômetro)*/
    // desabilitando a linha horizontal que divide as seções de navegação do conteúdo
    .containerMain_carometro { background: none; }
    .mainContent-fotoPerfil { width: 83.33%; margin: 0 auto;}
    #alunoInfoAlterarFoto1 { @include settingsBoxImagem(25%, auto, auto, 0, 40%);}

    // breadcrumb
    .headerContent {
        .cabecalho { padding: ($grid/4) 0; }
    }
}


// TABLET
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation:portrait) {
    
    /* Inserir foto (carômetro) */
    // desabilitando a linha horizontal que divide as seções de navegação do conteúdo
    .mainContent-fotoPerfil { padding: 0 $meioGrid; }
    #alunoInfoAlterarFoto1 { @include settingsBoxImagem(50%, auto, auto, 0, 20%); }

    // logo header
    .logo {
        img { margin-left: auto; margin-right: auto; }
    }

    // transformando as tabelas em responsivos
    .table-responsivo { 
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    /* catme - apresentacao */
    .ap-catme-details {
        ul {
            margin: 1em;
            padding-left: $grid;
            li { 
                margin: 0;
                list-style-type: disc;
            }
        }
    }
    .arrow-catme-steps { margin: .5em 0 !important; }
    .arrow-catme {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }


}

// MOBILE
@media only screen and (max-width:767px) {
    
    /* Inserir foto (carômetro) */
    #alunoInfoAlterarFoto1 { clear: both; width: 100%; float: left; margin: 5px 0 0 0; }
    
    // eliminando a borda central
    .containerMain { background: none; }

    // entre o menu de navegação e o article
    .mainContent { 
        border-top: 1px solid $corBorda;
        margin-top: $grid/8;
        .contentMain { 
            margin-top: 0;
            h1 { margin: .25em 0; }
        }
    }
    .headerContent {
        .cabecalho { 
            padding: ($grid/8) 0;
            p { font-size: .875em; }
        }
    }
    
}
