/*
    ===============================================================
    Manuais dos alunos
    ===============================================================
*/

/////////////////////////////////////////////////////////////////////
// Vars
/////////////////////////////////////////////////////////////////////

// fonts
$font: "verdana", "arial", "sans-serif";

// colors
$corDefault: #c00026; // red insper
$corTitle: #2d2d2d; // title h1 html
$corTexto: #414042; // default text content
$corBorda: #bcbec0; // gray default
$corDefaultDark: #7b0012; // red dark GUI
$corSec01: #f57d8c; // secundary GUI
$corSec02: #e64b64; // secundary2 GUI

// grids
$grid: 40px;
$meioGrid: $grid / 2;

@mixin font($fstyle, $fsize) {
    font: $fstyle $fsize $font;
}
@mixin corLink() {
    text-decoration: none;
    color: $corDefault;
    &:visited { color: $corDefaultDark }
    &:hover { text-decoration: underline; }
}
@mixin corLinkUpBox($corDigitada) {
    text-decoration: none;
    color: $corDigitada;
    &:visited { color: $corDigitada; }
    &:hover { text-decoration: underline; }
}

/////////////////////////////////////////////////////////////////////
// Mixin
/////////////////////////////////////////////////////////////////////

@mixin bShadow($typeShadow, $lenH,$lenV,$blur,$spread,$rgba) {
    box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
    -o-box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
    -ms-box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
    -moz-box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
    -webkit-box-shadow: $typeShadow $lenH $lenV $blur $spread $rgba;
}
@mixin box-size($boxSize) {
    box-sizing: $boxSize;
    -o-box-sizing: $boxSize;
    -ms-box-sizing: $boxSize;
    -moz-box-sizing: $boxSize;
    -webkit-box-sizing: $boxSize;
}

@mixin radius($radius: 4px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}
@mixin settingsBoxImagem($widthBox, $leftBox, $topBox, $rightBox, $bottomBox) {
    position: absolute;
    width: $widthBox;
    left: $leftBox;
    bottom: $bottomBox;
    top: $topBox;
    right: $rightBox;
}

// Menu de navegação
.navigationMain {
    h5 { padding-left: $grid; }
    ul {
        li { padding-left: $grid;
            a { display: block; }
        }
    }
    .selectedCategory { padding-left: $grid; }
}

// sublistas do sumário
.sumario {
    ul {
        li { margin-bottom: $grid/8;
            ul { margin-top: $grid/8;
                li { padding-left: $grid/2; }
            }
        }
    }
}

// 'ol' dentro dos box de destaque
.imageContainer {
    .boxDestaque {
        ol { 
            margin: 0;
            padding-left: $grid/2;
        }
    }
}

// box destaques (.boxDestaque)e box destaque adicional (.boxDestaqueAdicional)
.boxDestaque, .boxDestaqueAdicional { margin: ($grid/4) auto; }

// DESKTOP
@media only screen and (min-width: 769px) {
    /* Inserir foto (carômetro)*/
    // desabilitando a linha horizontal que divide as seções de navegação do conteúdo
    .containerMain_carometro { background: none; }
    .mainContent-fotoPerfil { width: 83.33%; margin: 0 auto;}
    #alunoInfoAlterarFoto1 { @include settingsBoxImagem(25%, auto, auto, 0, 40%);}

    // breadcrumb
    .headerContent {
        .cabecalho { padding: ($grid/4) 0; }
    }
}


// TABLET
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation:portrait) {
    
    /* Inserir foto (carômetro) */
    // desabilitando a linha horizontal que divide as seções de navegação do conteúdo
    .containerMain { background: none; }
    .mainContent-fotoPerfil { padding: 0 $meioGrid; }
    #alunoInfoAlterarFoto1 { @include settingsBoxImagem(50%, auto, auto, 0, 20%); }

    // logo header
    .logo {
        img { margin-left: auto; margin-right: auto; }
    }

    // transformando as tabelas em responsivos
    .table-responsivo { 
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }



}

// MOBILE
@media only screen and (max-width:767px) {
    
    /* Inserir foto (carômetro) */
    #alunoInfoAlterarFoto1 { clear: both; width: 100%; float: left; margin: 5px 0 0 0; }
    
    
}
