<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnlogias de Aprendizagem - Manuais de utilização</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="css/main.css">
<!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /> -->
<!-- <link rel="stylesheet" href="css/print.css"> -->
<!--  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"> -->

<!--[if IE]>
 <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 <![endif]--> 

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->
</head>
<body ng-controller="altMenu" data-ng-init="init()">

    <div class="wrapper">
        <!-- top -->
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>
        
        <div id="main" role="main" class="fix wfull">
            <div class="containerMain row">
                <!-- area search -->
                <section class="buscaMain c4">
                    <div class="inputSearch">
                        <form id="busca" action="">
                            <label for="pesquisa"></label>
                            
                            <!-- INPUT SEARCH -->
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="query">
                            
                            <p>
                                <span class="interat"><a href="#" class="expandir">&#62;</a>Expandir tudo</span>
                                <span class="interat"><a href="#" class="recolher">&#60;</a>Recolher tudo</span>
                            </p>  
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain" ng-controller="listaMenu">
                    <!-- CONTAINER REPETY -->
                    <div ng-repeat="item in itensManual | filter:query">
                        <!-- name of category -->
                        <h5>{{item.assunto}}</h5>
                        <ol>
                            <li>
                                <div class="containerCategory">
                                    <div class="contLeft">
                                        <span>&nbsp;</span><a href="#" class="exp-rec">[+]</a>   
                                    </div>
                                    <div class="contRight">
                                        <p>{{item.categoria}}</p>
                                    </div>    
                                </div>
                                <!-- itens by category -->
                                <ul style="display:none">
                                    <li class="sublist"><a href="{{item.linkSubCategoria}}">{{item.subCategoria}}</a></li>
                                    <li class="sublist"><a href="{{item.linkSubCategoria2}}">{{item.subCategoria2}}</a></li>
                                    <li class="sublist"><a href="{{item.linkSubCategoria3}}">{{item.subCategoria3}}</a></li>
                                    <li class="sublist"><a href="{{item.linkSubCategoria4}}">{{item.subCategoria4}}</a></li>
                                    <li class="sublist"><a href="{{item.linkSubCategoria5}}">{{item.subCategoria5}}</a></li>
                                </ul>
                            </li>
                        </ol>
                    </div>

                    <!-- faq: category li class="selectedCategory" -->
                    <hr>
                    <ol>
                        <li><span>&nbsp;</span><a href="#titlePage" class="faqBusca">faq</a></li>
                    </ol>
                    <hr>

                    <!-- more options -->
                    <div class="outros">
                        <p><a href="#titlePage">Não encontrou o que queria?</a></p>
                    </div>
                    <hr>

                    </nav>
                </section>
                <!-- content main -->
                <section class="mainContent c8">
                    <!-- divise only mobile -->
                    <div class="divisionMobile fix">
                    </div>
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <span><strong>Atualizado: </strong>01/01/2014</span>
                                <span class="imprimir"><span>i</span><a href="#">Imprimir Manual</a></span>
                            </p>
                        </div>
                        <hr>
                        <!-- dinamic content -->
                        <div class="breadcrumb">
                            <p><span class="nameCategory">nomeCategoria</span> <span>&#62;</span> nomeLinkCategoriaAcessada</p>
                        </div>
                    </section>
                    <!-- manual beging here -->
                    <article class="contentMain row">
                        <h1><a name="titlePage"></a>Nome do link da subcategoria selecionada</h1>
                        <p>Duis molestie mauris vitae ullamcorper laoreet. Maecenas bibendum turpis risus, at porttitor sapien varius quis. Etiam dignissim non erat vitae semper. Suspendisse potenti. Nullam vel <a href="#">justo lacinia</a> leo congue dapibus. Nulla facilisi. Integer dictum porttitor aliquet. Sed mi nunc, malesuada ut molestie nec, semper et nisi.</p>
                        <p>Cras tincidunt dictum nisl, sed dapibus felis consequat at. <strong>Phasellus facilisis leo ante</strong>, at consequat dolor feugiat eget. Pellentesque hendrerit mi sem, sit amet volutpat orci vestibulum in. Donec eu nibh varius, pretium nulla id, porttitor diam. Donec vitae sapien consequat, iaculis enim vel, semper est. Integer tristique, sapien non congue mollis, magna neque tristique quam, blandit tristique quam lectus quis erat.</p>

                        <!-- dinamic content -->
                        <div class="sumario row">
                            <h3><a name="sumarioAncora"></a>Sumário</h3>
                            <!-- ul>
                                <li><a href="#Titulo1">Donec eu nibh varius, pretium nulla id</a></li>
                                <li><a href="#Titulo2">Suspendisse sodales elit eu gravida imperdiet</a></li>
                                <li><a href="#Titulo3">Etiam dignissim non erat vitae semper</a></li>
                                <li><a href="#Titulo4">Saiba mais</a></li>
                            </ul> -->
                        </div>

                        <h2><!-- <a name="Titulo1" class="ancora"></a> -->Donec eu nibh varius, pretium nulla id</h2>
                        <p>Maecenas aliquet elit in ultricies pretium. Quisque consequat vulputate imperdiet. Phasellus in augue ante. Phasellus et blandit mi. Maecenas lacus justo, viverra malesuada imperdiet et, imperdiet at risus. Fusce ut augue at nibh porttitor facilisis. Donec consectetur urna lorem, et porta mi convallis eget. Vestibulum quis lacinia dui. Vestibulum mattis aliquam magna eu elementum. Ut placerat purus nisi, dapibus tempus augue tempus a. Nunc ligula dolor, congue non convallis id, porta vel tortor. Nam vitae convallis sem, ac egestas metus. Maecenas scelerisque at lorem ut aliquam.</p>

                        <!-- dinamic content: excet img -->
                        <div class="imageContainer row">
                            <img src="img/blackboard/step1.png" alt="image step 1" class="imgRight">
                            <div class="boxDestaque" id="CatNumb01">
                                <p>Aliquam sed semper purus, sit amet pretium erat. Praesent consectetur, erat nec <a href="#">dictum</a> tempus, tortor tortor sodales felis, id molestie arcu orci et velit. Suspendisse pharetra felis in urna pharetra, <strong>a dictum nisl vehicula</strong>. Nullam tincidunt ac sapien vel posuere. Morbi ut vulputate velit, vel rutrum.</p>
                            </div>
                            <div class="voltarSumario fix">
                                <a href="#sumarioAncora">Sumário</a>
                            </div>
                        </div>

                        <h2><!-- <a name="Titulo2" class="ancora"> -->Suspence sodales elit eu gravida imperdiet</h2>
                        <p>Tunc velit sapien, porta laoreet rhoncus vitae, suscipit et augue. Sed eu lectus vel orci sodales consectetur. Nunc ullamcorper urna     ut congue euismod. Cras tincidunt dictum nisl, sed dapibus felis consequat at. Phasellus facilisis leo ante, at consequat dolor feugiat eget. Pellentesque hendrerit mi sem, sit amet volutpat orci vestibulum in.</p>

                        <!-- dinamic content: excet img -->
                        <div class="imageContainer row">
                            <img src="img/blackboard/step2-1.png" alt="image step 2">
                            <div class="boxDestaqueAdicional" id="CatNumb02">
                                <p>In dui tellus, vehicula a venenatis non, facilisis id sapien. Proin auctor molestie odio et auctor. Cras non condimentum mauris. Etiam ultrices felis mauris, vel vehicula mauris molestie in. Aliquam quis bibendum nisi. Sed dapibus, erat a semper aliquam, orci dolor viverra neque.</p>
                            </div>
                            <div class="voltarSumario fix">
                                <a href="#sumarioAncora">Sumário</a>
                            </div>
                        </div>

                        <h2><!-- <a name="Titulo3" class="ancora"> -->Etiam dignissim non erat vitae semper</h2>
                        <p>Cras tincidunt dictum nisl, sed dapibus felis consequat at. <strong>Phasellus facilisis</strong> leo ante, at consequat dolor feugiat eget. Pellentesque hendrerit mi sem, sit amet volutpat orci vestibulum in.</p>
                        <p>Nunc velit sapien, porta laoreet rhoncus vitae, suscipit et augue. Sed eu lectus vel orci sodales consectetur. Nunc ullamcorper urna ut congue euismod. Cras tincidunt dictum nisl, sed dapibus felis consequat at. Phasellus facilisis leo ante, at consequat dolor feugiat eget. Pellentesque hendrerit mi sem, sit amet volutpat orci vestibulum in.</p>
                        <div class="voltarSumario fix">
                            <a href="#sumarioAncora">Sumário</a>
                        </div>
                    </article>

                    <!-- section saiba mais -->
                    <section class="saibaMais row fix">
                        <h2><a name="Titulo4" class="ancora"></a>Saiba Mais</h2>
                        <h4>Manuais relacionados</h4>
                        <ul>
                            <li>
                                <div><a href="#" class="manualRelacional">Nome de um determinado Manual relacionado podendo ter até duas linhas na plataforma mobile</a></div>
                            </li>
                            <li>
                                <div><a href="#" class="manualRelacional">Manuais relacionados</a></div>
                            </li>
                        </ul>
                        <h4>Manuais complementares</h4>
                        <ul>
                            <li>
                                <div><a href="#" class="manualComplementar">Quisque pulvinar sapien massa</a></div>
                            </li>
                            <li>
                                <div><a href="#" class="manualComplementar">Cras scelerisque a velit auctor rhoncus</a></div>
                            </li>
                            <li>
                                <div><a href="#" class="manualComplementar">Nam eu purus ac tellus convallis posuere non sit amet mauris</a></div>
                            </li>
                        </ul>
                    </section>

                </section>       
            </div>
        </div>
    </div>

<!-- Scripts -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="js/libs/jquery-1.9.1.min.js"><\/script>')||document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="js/libs/angular.js"></script>
<script src="js/controllers.js"></script>

<script src="js/main.js"></script>
</body>
</html>
