<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory selectedCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:tai@insper.edu.br?subject=TAI%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>01/04/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">votadores eletrônicos (clickers) </span>
                                <span>&#62; </span>
                                Promover votação em sala
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row">
                        <h1>Promover votação em sala</h1>
                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <h2 id="criar-lista-controle">Criar lista de controle</h2>

                        <!--
                        
                        IMAGENS E BOX DE TEXTO
                        1- Alinhamento das imgs adicionar as classes: imgLeft ou imgRight. O comportamenteo padrão é centralizado;
                        2- Adicionar um id para cada box.
                        REGRAS:
                        - nome pasta assunto. ex: Bb, Catme, Casos, Clickers +
                        - nome da categoria [se houver]. ex: materiais, avaliação, trabalhos +
                        - nome do manual: as duas palavras iniciais. ex: criar pesquisa, associar rubric +
                        - numero identificador sequencial.

                        MODELO: BbMateriaisCarregarMateriais1

                        3- No CSS vc controla a posição de cada um. Há + de 1 media queries para adaptar!;
                        4- A classe 'boxDestaque' é o padrão. Para box com informações adicionais em fundo vermelho usar a classe 'boxDestaqueAdicional';
                        5- Após cada div.imageContainer inserir a div.respiro para aplicar uma margem entre eles. Insira um valor de margin-top no próprio html, visto que há inúmeras necessidades de tamanhos de margin;

                        -->

                        <p>Ao utilizar votadores eletrônicos em sala de aula é necessário criar uma lista de controle de entrega dos aparelhos.</p>
                        <p>Exemplo:</p>
                        <!-- reaproveitando uma classe de outra pagina -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableAvalExistente tableListaControle">
                            <caption>
                                Cabeçalho sugerido: <br>
                                [Nome do Curso] – [Nome da Disciplina] – [Nome do Professor] – [Data]
                            </caption>
                            <tr>
                                <th scope="col">Aparelho</th>
                                <th scope="col">Primeiro Nome</th>
                                <th scope="col">Último Nome</th>
                                <th scope="col">Assinatura</th>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Silvia</td>
                                <td>Fernanda Corrêa</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Vinicius</td>
                                <td>Cassio Barqueiro</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        <p>Sugere-se criar a lista de controle a partir da <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/identificar-votos-alunos/criar-lista-alunos/">lista de alunos informada ao TurningPoint para identificação dos votos</a>.</p>
                        <p>A lista de controle deve ser impressa e disponibilizada aos alunos no momento da entrega dos aparelhos. É importante guardar as assinaturas como histórico.</p>

                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <!--
                        #####################################################
                         -->

                        <h2 id="preparar-apresentacao">Preparar apresentação</h2>

                        <ul>
                            <li>Chegue na sala de aula com no mínimo 15 minutos de antecedência. Os <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/utilizar-votadores-eletronicos/reservar-aparelhos-helpDesk/">equipamentos reservados</a> já estarão montados pelo Help Desk.</li>
                            <li>No notebook trazido pelo Help Desk, <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/utilizar-votadores-eletronicos/abrir-powerPoint/">abra o PowerPoint com o plug-in do TurningPoint</a> e, em seguida, localize a apresentação de slides preparada previamente.</li>
                            <li><a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/identificar-votos-alunos/vincular-lista-alunos/">Vincule a lista de alunos à apresentação de slides</a>.</li>
                        </ul>

                        <div class="margemParaImagem" style="margin-top:40px"></div>
                        
                        <div class="imageContainer row">
                            <img src="../../img/Clickers/promover-votacao-em-sala/preparacao-sala/step1.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="ClickePrepararAp1">
                                <p>No caso de nova sessão de votação, limpe possíveis dados de testes ou votações anteriores da base de dados:</p>
                                <ol class="ClikcerListaAlunos prepararAp">
                                    <li>Session: <span>limpa os votos de todos os slides. Opção recomendada antes do início de uma nova aula.</span></li>
                                    <li>Charts: <span>limpa os votos apenas do slide que está sendo exibido na tela.</span></li>
                                </ol>
                            </div>
                            
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <!--
                        #####################################################
                        -->

                        <h2 id="durante-aula">Durante a aula</h2>

                        <ol>
                            <li> Disponibilize os votadores eletrônicos aos alunos, gerenciando a entrega com a <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/promover-votacao-em-sala/criar-lista-controle/">lista de controle</a>.</li>
                            <li>Antes de iniciar a votação explique como será a dinâmica da aula e mostre como utilizar os votadores eletrônicos. Recomenda-se exibir o <a href="../clickers-modelo-orientacao.pptx">slide de orientação</a>, sobretudo nas primeiras dinâmicas.</li>
                            <li>Durante a apresentação (tecla F5 do teclado), a seguinte barra de controle será exibida nos slides que contiverem perguntas.</li>
                        </ol>

                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <div class="imageContainer row">
                            <img src="../../img/Clickers/promover-votacao-em-sala/durante-aula/step1.png" alt="" class="">

                            <div class="boxDestaque numb1" id="clickersDuranteAula1">
                                <span>1</span>
                                <p>Limpa os votos do slide atual.</p>
                                <p>Recomendada caso a aplicação tenha fechado involuntariamente.</p>
                            </div>

                            <div class="boxDestaque numb2" id="clickersDuranteAula2">
                            <span>2</span>
                                <p>Monitora os votos durante a votação ("quem respondeu o quê").</p>
                                <p>Opção não recomendada, pois pode inibir a participação dos alunos.</p>
                            </div>

                            <div class="boxDestaque numb3" id="clickersDuranteAula3">
                            <span>3</span>
                                <p>Computa número de votos.</p>
                            </div>

                            <div class="boxDestaque numb4" id="clickersDuranteAula4">
                            <span>4</span>
                                <p>
                                    Exibe o status da votação: <br>
                                    Aberta : <span class="verde">verde</span>
                                    <br>
                                    Fechada : <span class="vermelho">Vermelho</span>
                                </p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:260px"></div>

                        <ol start="4">
                            <li>
                                Para abrir o período de votação em cada questão:
                            </li>
                            <ul>
                                <li>Caso utilize a <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/preparar-slides/criar-questoes/">configuração recomendada</a>, após exibição do slide, dê um clique para ativar a votação</li>
                                <li>Se estiver usando a configuração-padrão (opção não recomendada) a votação será aberta simultaneamente à exibição do slide.</li>
                            </ul>
                            <li>Para fechar o período de votação em cada questão, basta dar um clique.</li>
                            <li>O gráfico com a computação dos votos é exibido ao término de cada votação.</li>
                        </ol>

                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <section class="imageContainer destCatme duranteAula">
                            <div class="c12 boxDestaqueAdicional">
                                <p>Caso utilize <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/preparar-slides/inserir-cronometro/">cronômetro</a>, o período de votação será finalizado automaticamente ao término do tempo programado. Para fechar a votação antes do tempo (por exemplo, se todos já tiverem votado) basta dar um clique a qualquer momento.</p>
                            </div>
                        </section>

                        <div class="margemParaImagem" style="height:40px"></div>

                        <!--
                        #####################################################
                        -->

                        <h2 id="salvar-sessao">Salvar sessão</h2>

                        <p>Ao término da aula é preciso salvar as informações da votação. Isso permite <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/promover-votacao-em-sala/continuar-sessao/">continuá-la posteriormente</a> (em outra aula, por exemplo), bem como <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/analisar-resultados/visualizar-resultados-votacao/">acessar os resultados</a> e <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/analisar-resultados/trabalhar-resultados-excel/">exportá-los para Excel</a>.</p>
                        <div class="margemParaImagem" style="margin-top:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/Clickers/promover-votacao-em-sala/salvar-sessao/step1.png" alt="" class="">
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <!--
                        #####################################################
                        -->

                        <h2 id="continuar-sessao">Continuar sessão</h2>

                        <p>É possível utilizar a mesma apresentação de slides em diversas aulas, mantendo o histórico das votações.</p>
                        <div class="imageContainer row">
                            <img src="../../img/Clickers/promover-votacao-em-sala/continuar-sessao/step1.png" alt="" class="">
                            <div class="boxDestaque" id="ClickerContinuarSessao1">
                                <p>Selecione a opção <strong>Continue</strong> e localize a <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/promover-votacao-em-sala/continuar-sessao/">sessão salva anteriormente</a> (<strong>.tpzx</strong>).</p>
                            </div>
                        </div>
                        <section class="imageContainer destCatme continuarSessao">
                            <div class="c12 boxDestaqueAdicional">
                                <h4>Atenção!</h4>
                                <p>Em caso de <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/identificar-votos-alunos/criar-lista-alunos/">votação identificada</a>, é importante que os alunos utilizem os mesmos aparelhos que utilizaram na sessão anterior.</p>
                            </div>
                        </section>

                        <div class="margemParaImagem" style="height:80px"></div>

                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                    </article>

                    <!-- Devido aos poucos itens do 'Saiba Mais'
                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div> -->
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in Promover_votacao_sala" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in Promover_votacao_sala" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../js/libs/angular.js"></script>
<script src="../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../js/listaCompletaManual.js"></script>
<script src="../../js/manuaisRelacionados.js"></script>
<script src="../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../js/main.js"></script>
</body>
</html>
