<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist ng-class: addMark()" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <!-- <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol> -->
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/DEA/manuais/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:dea@insper.edu.br?subject=DEA%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>05/09/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Blackboard </span>
                                <span>&#62; </span>
                                Criar ou alterar pesquisas sem nota 
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row">
                        <h1>Criar ou alterar pesquisas (sem nota)</h1>
                        <p>As pesquisas têm o objetivo de coletar <em>feedback</em> anônimo dos alunos e não são avaliadas. Essa é a principal diferença entre uma <strong>Pesquisa</strong> e um <strong>Teste</strong>.</p>

                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <!--
                        
                        IMAGENS E BOX DE TEXTO
                        1- Alinhamento das imgs adicionar as classes: imgLeft ou imgRight. O comportamenteo padrão é centralizado;
                        2- Adicionar um id para cada box.
                        REGRAS:
                        - nome pasta assunto. ex: Bb, Catme, Casos, Clickers +
                        - nome da categoria [se houver]. ex: materiais, avaliação, trabalhos +
                        - nome do manual: as duas palavras iniciais. ex: criar pesquisa, associar rubric +
                        - numero identificador sequencial.

                        MODELO: BbMateriaisCarregarMateriais1

                        3- No CSS vc controla a posição de cada um. Há + de 1 media queries para adaptar!;
                        4- A classe 'boxDestaque' é o padrão. Para box com informações adicionais em fundo vermelho usar a classe 'boxDestaqueAdicional';
                        5- Após cada div.imageContainer inserir a div.respiro para aplicar uma margem entre eles. Insira um valor de margin-top no próprio html, visto que há inúmeras necessidades de tamanhos de margin;

                        -->

                        <h2 id="subTitulo1">Criar pesquisas</h2>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step1.png" alt="" class="">
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step2.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota1">
                                <p>Defina um nome para a pesquisa e as informações que serão disponibilizadas aos alunos antes de iniciarem a pesquisa.</p>
                                <p>Aqui podem ser detalhados quais são os objetivos.</p>
                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota2">
                                <p>Defina as instruções, que aparecerão quando a pesquisa for iniciada.</p>
                                <p>Por fim, clique em <strong>Enviar</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step3.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota3">
                                <p>Após criar as perguntas desejadas (processo semelhante à criação das perguntas nos testes), clique em <strong>OK</strong> e escolha o local em que a pesquisa será disponibilizada aos alunos. No exemplo, será usada a pasta <strong>Conteúdo</strong>.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <h2 id="subTitulo3">Disponibilizar pesquisa aos alunos</h2>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step4.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota4">
                                <p>Escolha a pesquisa na lista e clique em <strong>Enviar</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step5.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota5">
                                <p>Se quiser que a pesquisa seja aberta em uma nova janela do navegador quando for iniciada, escolha <strong>Sim</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step6.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota6">
                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step6a.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Para tornar a pesquisa disponível, escolha <strong>Sim</strong>.</p>
                                    </div>
                                </div>
                                <div class="row fltLeft">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step6b.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Defina também se um novo aviso deve ser criado para divulgar a disponibilização da pesquisa no ambiente.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota7">
                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step6c.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Escolha a quantidade de vezes que os alunos poderão responder à pesquisa. Se a opção <strong>Número de Tentativas</strong> ficar desmarcada, os alunos só terão uma oportunidade.</p>
                                    </div>
                                </div>
                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step6d.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Sugerimos que o campo <strong>Forçar conclusão</strong> <span class="enfaseBox">NÃO</span> seja marcado.</p>
                                    </div>
                                </div>
                                <div class="row fltLeft">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step6e.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Os alunos que ultrapassarem o prazo estipulado para a conclusão não serão forçados a sair.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota8">
                                <p>Para definir um período de tempo em que a pesquisa ficará disponível marque as opções <strong>Exibir depois</strong> e/ou <strong>Exibir até</strong> e configure as datas.</p>      
                            </div>

                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota9">
                                <p>As senhas podem ter até 15 caracteres e diferenciam maiúsculas de minúsculas.</p>      
                            </div>

                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step7.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota10">
                                <p>Caso você queira criar exceções, clique em <strong>Adicionar usuários ou grupos</strong> e escolha para quem deseja aplicá-las.</p>
                                <p>Em seguida, configure as exceções para os usuários ou grupos selecionados.</p>    
                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota11">
                                <p>Defina se haverá data de vencimento.</p>
                                <p>Defina também se os alunos poderão iniciar a pesquisa após a data de vencimento.</p>    
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step8.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota12">
                                <p>Escolha quais informações deseja exibir para os alunos após a pesquisa ou em algum outro momento.</p>    
                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota13">
                                <p>Defina se as perguntas da pesquisa serão exibidos de uma só vez ou se serão exibidas na tela individualmente.</p>
                                <p>Para que cada aluno veja as perguntas em uma ordem diferente, marque a opção <strong>Perguntas em ordem aleatória</strong>.</p>    
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <h2 id="subTitulo2">Alterar pesquisas</h2>
                        <p>Caso a pesquisa ainda não tenha sido disponibilizada aos alunos, ou se nenhum aluno tiver feito a pesquisa, é possível alterar uma série de características.</p>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step9.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota14">
                                <p>Escolha quais informações deseja exibir para os alunos após a pesquisa ou em algum outro momento.</p>    
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step10.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota15">
                                <div class="row fltLeft">
                                    <p>Na tela que será aberta é possível:</p>
                                </div>
                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step10a.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Modificar o nome, a descrição e as instruções da pesquisa.</p>
                                    </div>
                                </div>

                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step10b.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Acrescentar novas perguntas.</p>
                                    </div>
                                </div>

                                <div class="row fltLeft">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step10c.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Alterar a ordem das perguntas.</p>
                                    </div>
                                </div>

                                <div class="row fltLeft" style="margin-bottom:5px">
                                    <div class="c3">
                                        <img src="../../../img/Blackboard/testes-e-pesquisas/criar-ou-alterar-pesquisas-sem-nota/step10d.png" alt="">
                                    </div>
                                    <div class="c9">
                                        <p>Alterar ou excluir as perguntas inseridas na pesquisa.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="boxDestaque" id="BbTesPesquisaCriarPesSemNota16">
                                <p>Para alterar configurações como informações sobre a pesquisa, instruções, datas de disponibilidade, prazos etc. selecione a opção <strong>Editar as opções da pesquisa</strong>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:60px"></div>

                    </article>

                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in Criar_ou_alterar_pesquisas" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in Criar_ou_alterar_pesquisas" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../../js/libs/angular.js"></script>
<script src="../../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../../js/listaCompletaManual.js"></script>
<script src="../../../js/manuaisRelacionados.js"></script>
<script src="../../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../../js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59172929-3', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
