<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBb-aluno">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Recursos e Tecnologias de Aprendizagem - Manuais de utilização - Alunos</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="../../favicon-16.png">
    <link rel="stylesheet" type="text/css" media="print" href="../../css/print.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/main.css">
    <!--[if IE]>
        <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="../../js/libs/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Recursos e Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>
        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">
                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Assunto ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>
                    <nav role="navigation" class="navigationMain">
                        <!-- blackbaord -->
                        <h5 class="icoBlackboard">Blackboard</h5>
                        <ul class="noCategory" ng-repeat="item in blackboard | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                        
                        <!-- plagio acadêmico -->
                        <h5 class="icoPlagio">Plágio Acadêmico</h5>
                        <!-- <ol class="noCategory">
                            <li class="selectedCategory">Apresentação da Cartilha de Plágio</li>
                        </ol> -->
                        <ul class="noCategory" ng-repeat="item in plagio_academico | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>

                        <!-- curso online -->
                        <h5 class="icoCursosOnline">Cursos <em>online</em> de Harvard</h5>
                        <ul class="noCategory" ng-repeat="item in curso_online | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>

                        <!-- clickers -->
                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ul class="noCategory" ng-repeat="item in clikcers | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                        
                         <!--catme -->
                        <h5 class="icoCatme">Catme</h5>
                        <ul class="noCategory" ng-repeat="item in catme | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p><span><strong>Atualizado: </strong>08/06/2016</span></p>
                        </div>
                    </section>
                    <article class="contentMain row">
                        <!-- 
                            INTRODUCAO
                            1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                            2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                            3- toda tag 'h2' receberá esta sintaxe:
                            '<h2 id="subTituloX>Texto aqui</h2>';
                            É necessário adicionar um número identificador na âncora;
                            4- Para casos em que haverá uma sublistagem no sumário adicionar no elemento 'h2' o atributo: data-sublist="true"
                            e para cada tópico desta listagem inserir a tag 'h3' com a seguinte sintaxe: '<h3 id="subList_sumarioX">'
                         -->
                        <h1 class="nameCategory">Apresentação dos votadores</h1>
                        <p>Os votadores eletrônicos possibilitam aos alunos responderem, via dispositivos móveis, a perguntas feitas pelo professor em sala de aula, de modo que os resultados sejam registrados e apresentados imediatamente. Essa dinâmica é chamada de votação eletrônica.</p>
                        <p>Para participar da dinâmica é necessário realizar um cadastro prévio.</p>
                        
                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <h2 id="subTitulo1">Realizar cadastro</h2>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step1b.png" alt="captura de tela-1" class="">
                            <div class="boxDestaque">
                                <p>Acesse o endereço: <a href="https://account.turningtechnologies.com/" target="_blank">https://account.turningtechnologies.com/</a>. Insira seu e-mail <strong>do Insper</strong> no campo indicado e clique em <em>Create an account</em>.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:10px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step2.png" alt="captura de tela-2" class="">
                            <div class="boxDestaque">
                                <p>Será enviado um e-mail com o link que direcionará você para a tela de cadastro.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step3.png" alt="captura de tela-3" class="">
                            <div class="boxDestaque">
                                <p>Preencha os campos:</p>
                                <ul>
                                    <li>First Name: [informe seu nome]</li>
                                    <li>Last Name: [informe seu sobrenome]</li>
                                    <li>Role: Student</li>
                                    <li>Country: Brasil</li>
                                    <li>Market: Higher Education</li>
                                    <li>Password/Confirm Password: [informe uma senha à sua escolha, seguindo as seguintes regras:]</li>
                                    <ul>
                                        <li>Ao menos 8 dígitos</li>
                                        <li>Ao menos uma letra minúscula</li>
                                        <li>Ao menos uma letra maiúscula</li>
                                        <li>Ao menos um número</li>
                                    </ul>
                                    <li>Aceite os termos de uso e clique em <em>Finish</em>.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step4.png" alt="captura de tela-4" class="">
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step5.png" alt="captura de tela-5" class="">
                            <div class="boxDestaque">
                                <p>A conta está criada!</p>
                                <p>Basta usar os dados cadastrados para votar.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        
                        <h2 id="subTitulo2">Participar da votação</h2>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <div class="boxDestaque">
                                <p>Você pode votar de duas maneiras:</p>
                                <ul>
                                    <li>Pelo aplicativo <strong>Responseware</strong> em seu celular ou tablet ou</li>
                                    <li>Acessando o endereço <a href="http://www.rwpoll.com" target="_blank">http://www.rwpoll.com</a>.</li>
                                </ul>
                                <p>Insira o número da sessão informada pelo professor e clique em <em>Join Session</em>.</p>
                            </div>
                        </div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step6.png" alt="captura de tela-6" class="">
                        </div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step7.png" alt="captura de tela-7" class="">
                        </div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step8b.png" alt="captura de tela-8" class="">
                            <div class="boxDestaque">
                                <p>Informe o e-mail cadastrado e clique em <em>Sign In</em>.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step9.png" alt="captura de tela-9" class="">
                            <div class="boxDestaque">
                                <p>Informe a senha cadastrada e clique em <em>Sign In</em>.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step10.png" alt="captura de tela-10" class="">
                            <div class="boxDestaque">
                                <p>Confira seu login e clique em <em>Join</em> ou <em>Submit</em>.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step11.png" alt="captura de tela-11" class="">
                            <div class="boxDestaque">
                                <p>Caso visualize a mensagem <em>Please, wait for your presenter to open pooling</em>, aguarde o professor abrir a votação.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step12.png" alt="captura de tela-12" class="">
                            <div class="boxDestaque">
                                <p>Ao selecionar uma alternativa ela ficará em destaque.</p>
                                <p>Isso indica que seu voto foi computado.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step13.png" alt="captura de tela-13" class="">
                            <div class="boxDestaque">
                                <p>Ao término da votação será exibido o gráfico com o resultado de toda a turma, além da sua resposta.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>

                        <h2 id="subTitulo3">Recuperar senha</h2>
                        <p>Acesse o Responseware pelo aplicativo ou pelo endereço <a href="http://www.rwpoll.com/" title="Welcome to ResponseWare - session ID" target="_blank">http://www.rwpoll.com</a> e siga os seguintes passos:</p>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step14.png" alt="captura de tela-14" class="">
                        </div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step15.png" alt="captura de tela-15" class="">
                            <div class="boxDestaque">
                                <p>Informe o e-mail já cadastrado e clique em <em>Sign In</em>.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step16.png" alt="captura de tela-16" class="">
                        </div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step17.png" alt="captura de tela-17" class="">
                            <div class="boxDestaque">
                                <p>Informe o e-mail novamente e clique em <em>Reset Password</em>.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step18.png" alt="captura de tela-18" class="">
                            <div class="boxDestaque">
                                <p>No e-mail que será enviado pelo sistema, clique no link indicado.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                        <div class="imageContainer row">
                            <img src="../../img/aluno/clickers/step19.png" alt="captura de tela-19" class="">
                            <div class="boxDestaque">
                                <ul>
                                    <li>Informe uma nova senha e confirme, seguindo as seguintes regras:
                                        <ul>
                                            <li>Ao menos 8 dígitos</li>
                                            <li>Ao menos uma letra minúscula</li>
                                            <li>Ao menos uma letra maiúscula</li>
                                            <li>Ao menos um número</li>
                                        </ul>
                                    </li>
                                    <li>Clique em <em>Save</em>.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="height:20px"></div>
                    </article>
                    <div class="voltarSumario fix">
                        <a href="#main">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Scripts: plugins -->
    <script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
    <script src="../../js/libs/angular.js"></script>
    <script src="../../js/listaCompletaManual-aluno.js"></script>
    <script src="../../js/main.js"></script>
    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      // ga('create', 'UA-59172929-3', 'auto');
      // ga('send', 'pageview');
    </script>
</body>
</html>
