<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnlogias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory selectedCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <div class="faqBusca icoFaq">
                            <h5>
                                <a href="../../faq/index.html" >FAQ</a>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="../../nao-encontrou-o-que-queria/index.html">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>31/03/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">votadores eletrônicos (clickers) </span>
                                <span>&#62; </span>
                                Identificar os votos dos alunos
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row">
                        <h1>Identificar os votos dos alunos</h1>
                        
                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <h2 id="criar-lista-alunos">Criar lista de alunos</h2>
                        <!--
                        
                        IMAGENS E BOX DE TEXTO
                        1- Alinhamento das imgs adicionar as classes: imgLeft ou imgRight. O comportamenteo padrão é centralizado;
                        2- Adicionar um id para cada box.
                        REGRAS:
                        - nome pasta assunto. ex: Bb, Catme, Casos, Clickers +
                        - nome da categoria [se houver]. ex: materiais, avaliação, trabalhos +
                        - nome do manual: as duas palavras iniciais. ex: criar pesquisa, associar rubric +
                        - numero identificador sequencial.

                        MODELO: BbMateriaisCarregarMateriais1

                        3- No CSS vc controla a posição de cada um. Há + de 1 media queries para adaptar!;
                        4- A classe 'boxDestaque' é o padrão. Para box com informações adicionais em fundo vermelho usar a classe 'boxDestaqueAdicional';
                        5- Após cada div.imageContainer inserir a div.respiro para aplicar uma margem entre eles. Insira um valor de margin-top no próprio html, visto que há inúmeras necessidades de tamanhos de margin;

                        -->

                        <p>Para identificar os responsáveis pelos votos é necessário preparar uma listagem de alunos e carregá-la no TurningPoint. Uma maneira simples de obter a listagem é no ambiente online da turma.</p>
                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/criar-lista-alunos/step1.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="ClickerCriarListaAlunos1">
                                <p>Acesse a Central de Notas do ambiente online da disciplina para acessar o nome dos alunos.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>
                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/criar-lista-alunos/step2.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="ClickerCriarListaAlunos2">
                                <p>Copie os dados das colunas "Nome" e "Sobrenome" da planilha gerada pelo Blackboard.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/criar-lista-alunos/step3.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="ClickerCriarListaAlunos3">
                                <p>Cole os dados na <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/utilizar-votadores-eletronicos/#reservar-aparelhos">planilha fornecida pelo Help Desk</a>, que já contém o código de identificação de cada aparelho.</p>
                            </div>
                            <div class="boxDestaqueAdicional" id="ClickerCriarListaAlunos4">
                                <p>Após a criação da lista de alunos, é necessário <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/identificar-votos-alunos/#vincular-lista-alunos">vincular a lista à apresentação do PowerPoint</a>.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <!-- 
                        ########################################################
                        -->

                        <h2 id="vincular-lista-alunos">Vincular lista de alunos aos slides</h2>

                        <p>Antes de tudo, <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Clickers/utilizar-votadores-eletronicos/#abrir-turning-point">abra o PowerPoint com o plug-in do TurningPoint</a>. Caso já tenha preparado sua apresentação de slides, localize o arquivo.</p>
                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/vincular-lista-alunos/step1.png" alt="" class="">
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <p>Há duas maneiras de passar a lista de alunos criada no Excel para o TurningPoint.</p>
                        <ol>
                            <li>Copiar os dados do Excel e colar no TurningPoint.</li>
                        </ol>

                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/vincular-lista-alunos/step2.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="ClickerVincularListaAlunos1">
                            <p>Primeiramente, ordene as colunas do TurningPoint na seguinte ordem (clicando e arrastando):</p>
                            <ol>
                                <li>Device ID(s)</li>
                                <li>User ID</li>
                                <li>First Name</li>
                                <li>Last Name</li>
                            </ol>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:120px"></div>

                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/vincular-lista-alunos/step3.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="ClickerVincularListaAlunos2">
                                <p>Copie as quatro colunas da planilha Excel.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:60px"></div>

                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/vincular-lista-alunos/step4.png" alt="" class="">
                            <div class="boxDestaque" id="ClickerVincularListaAlunos3">
                                <p>Cole os dados no TurningPoint.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:80px"></div>

                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/vincular-lista-alunos/step5.png" alt="" class="">
                            <div class="boxDestaque" id="ClickerVincularListaAlunos4">
                                <p>No slide, selecione a lista criada.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>
                        
                        <ol start="2">
                            <li>Salvar a planilha Excel com a lista de alunos em formato CSV e importá-la no TurningPoint.</li>
                        </ol>
                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/vincular-lista-alunos/step6.png" alt="" class="">
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>
                        
                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/vincular-lista-alunos/step7.png" alt="" class="">
                            <div class="boxDestaqueAdicional" id="ClickerVincularListaAlunos5">
                                <h4>Atenção!</h4>
                                <p>Antes de salvar, confira se a lista foi criada corretamente, sem duplicidade de colunas.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:120px"></div>
                        
                        <div class="imageContainer row">
                            <img src="../../img/Clickers/identificar-votos-alunos/vincular-lista-alunos/step8.png" alt="" class="">
                            <div class="boxDestaque" id="ClickerVincularListaAlunos6">
                                <p>No slide, selecione a lista criada.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:80px"></div>

                        <!-- 
                        ############################################
                        -->

                        <h2 id="editar-lista-alunos">Editar lista de alunos</h2>

                        <p>A qualquer momento, antes ou durante a votação, é possível editar a lista de alunos que participará da votação. Isso pode ser feito tanto pelo TurningPoint quanto pelo PowerPoint.</p>
                        <ol class="ClikcerListaAlunos">
                            <li>Pelo TurningPoint:</li>
                        </ol>
                        <img src="../../img/Clickers/identificar-votos-alunos/editar-lista-alunos/step1.png" alt="" class="">

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <ol class="ClikcerListaAlunos" start="2">
                            <li>Pelo PowerPoint:</li>
                        </ol>
                        <img src="../../img/Clickers/identificar-votos-alunos/editar-lista-alunos/step2.png" alt="" class="">

                        <div class="margemParaImagem" style="margin-top:100px"></div>

                    </article>

                    <!-- Devido aos poucos itens do 'Saiba Mais'
                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div> -->
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in Identificar_votos_alunos" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in Identificar_votos_alunos" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../js/libs/angular.js"></script>
<script src="../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../js/listaCompletaManual.js"></script>
<script src="../../js/manuaisRelacionados.js"></script>
<script src="../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../js/main.js"></script>
</body>
</html>
