<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../favicon-16.png" sizes="16x16">
<link rel="icon" href="../favicon-32.png" sizes="32x32">
<link rel="icon" href="../favicon-48.png" sizes="48x48">
<link rel="icon" href="../favicon-64.png" sizes="64x64">
<link rel="icon" href="../favicon-128.png" sizes="128x128">


<!-- iPad com Retina Display -->
<link rel="apple-touch-icon" sizes="144x144" href="../apple-touch-icon-144x144.png">
<!-- iPhone com Retina Display -->
<link rel="apple-touch-icon" sizes="114x114" href="../apple-touch-icon-114x114.png">
<!-- Primeira e segunda geração de iPad -->
<link rel="apple-touch-icon" sizes="72x72" href="../apple-touch-icon-72x72.png">
<!-- Versões antigas de iPhone, iPod Touch e Android 2.2+  -->
<link rel="apple-touch-icon" href="../apple-touch-icon.png">

<!--[if IE]>
    <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->
</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca" action="">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="nomeAssunto"><a name="inicio"></a>Blackboard</h5>
                        <ol class="noCategory">
                            <p>Conhecer o ambiente</p>
                            <li class="sublist" ng-repeat="item in blackboardBb | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <!-- adicionar class selectedCategory quando quiser marcar a categoria -->
                            <p class="selectedCategory">Materiais</p>
                            <li class="sublist" ng-repeat="item in BbMateriais | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Comunicação e Interação</p>
                            <li class="sublist" ng-repeat="item in BbComunicacaoInteracao | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Trabalhos</p>
                            <li class="sublist" ng-repeat="item in BbTrabalhos | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Grupos</p>
                            <li class="sublist" ng-repeat="item in BbGrupos | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Testes e Pesquisas</p>
                            <li class="sublist" ng-repeat="item in BbTestesPesquisas | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Rubrics</p>
                            <li class="sublist" ng-repeat="item in BbRubrics | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Avaliação</p>
                            <li class="sublist" ng-repeat="item in BbAvaliacao | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Calendário</p>
                            <li class="sublist" ng-repeat="item in BbCalendario | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="nomeAssunto">Catme</h5>
                        <ol class="noCategory">
                            <p>Sobre a ferramenta</p>
                            <li class="sublist" ng-repeat="item in catmeSobreFerramenta | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Aplicar uma pesquisa de avaliação</p>
                            <li class="sublist" ng-repeat="item in catmeAplicarPesquisaAval | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        <ol class="noCategory">
                            <p>Analisar os resultados</p>
                            <li class="sublist" ng-repeat="item in catmeAnalisarResultados | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="nomeAssunto">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory">
                            <!-- <p>Lorem ipsum</p> -->
                            <li class="sublist" ng-repeat="item in clickers | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="nomeAssunto">Casos</h5>
                        <ol class="noCategory">
                            <!-- <p>Lorem ipsum</p> -->
                            <li class="sublist" ng-repeat="item in casos | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="nomeAssunto">Simuladores</h5>
                        <ol class="noCategory">
                            <!-- <p>Lorem ipsum</p> -->
                            <li class="sublist" ng-repeat="item in simuladores | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>
                        
                        <h5 class="nomeAssunto">Cursos online</h5>
                        <ol class="noCategory">
                            <!-- <p>Lorem ipsum</p> -->
                            <li class="sublist" ng-repeat="item in cursosOnline | filter:{manual: searchText}">
                                <a href="{{item.linkManual}}">{{item.manual}}</a>
                            </li>
                        </ol>

                        <div class="faqBusca">
                            <h5>
                                <a href="#" >FAQ</a>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="#titleManual">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>
                
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <span><strong>Atualizado: </strong>01/01/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Materiais</span>
                                <span>&#62;</span> nome do manual
                            </p>
                        </div>
                    </section>

                    <article class="contentMain row">
                        <h1><a name="titleManual"></a>Criar um fórum de discussão 3/4</h1>

                        <div class="sumario row">
                            <h3><a name="sumarioAncora"></a>Sumário</h3>
                            <!-- Aqui sera inserida a lista dos títulos [se houver] para gerar o sumário -->
                        </div>

                        <h2><a name="Titulo1" class="ancora"></a>Donec eu nibh varius, pretium nulla id</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, alias quaerat cumque facilis ad rem quae doloremque tenetur ipsa aliquid magni rerum. Doloremque, voluptatum magni rerum totam deleniti ex voluptatem!</p>
                        <div class="imageContainer row">
                            <!-- imgLeft: alinhado à esq | imgRight: alinhado à dir | default: center -->
                            <img src="../img/blackboard/com/step4-1.png" alt="image step 1" class="imgLeft">
                            <!-- boxDestaque: estilo padrao dos boxes
                            boxDestaqueAdicional: para boxes com informações adicionais
                            Obs: Adicionar um id para posicionar o box -->
                            <div class="boxDestaque" id="CatNumb01">
                                <p>A página do Grupo dá acesso a <strong>todos</strong> os <a href="../lorem/ipsum">fóruns criados na disciplina</a>.</p>
                                <p>Também é possível selecionar <strong>um</strong> Fórum específico.</p>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Aqui será adicionado a ancora para voltar ao sumario -->
                        </div>
                        
                        <div class="imageContainer row">
                            <img src="../img/blackboard/com/step5.png" alt="image step 2" class="imgRight">
                            <div class="boxDestaque" id="CatNumb02">
                                <p>Na ferramenta Fórum é possível criar um <strong>fórum</strong> novo ou entrar nos fóruns existentes.</p>
                                <p>Na lista há um resumo com o total de mensagens, mensagens não lidas e total de participantes.</p>
                            </div>
                        </div>

                        <div class="row"> <div>

                        <div class="imageContainer row">
                            <img src="../img/blackboard/com/step6.png" alt="image step 3" class="imgLeft">
                            <div class="boxDestaqueAdicional" id="CatNumb03">
                                <p>No botão de opções do Fórum, a opção <strong>Gerenciar</strong> permite atribuir <a href="#">diferentes perfis</a> de participação aos usuários da disciplina (opcional).</p>
                            </div>
                        </div>

                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, error obcaecati incidunt fuga dolorum vel amet voluptates ipsa eaque.</p>
                        <div class="imageContainer row">
                            <img src="../img/blackboard/com/step4-1.png" alt="image step 1" class="imgLeft">
                            <div class="boxDestaque" id="CatNumb01">
                                <p>A página do Grupo dá acesso a <strong>todos</strong> os <a href="../lorem/ipsum">fóruns criados na disciplina</a>.</p>
                                <p>Também é possível selecionar <strong>um</strong> Fórum específico.</p>
                            </div>
                        </div>
                    </article>

                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#sumarioAncora">Sumário</a>
                    </div>

                    <section class="saibaMais row fix">
                        <h2><a name="Titulo4" class="ancora"></a>Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <li ng-repeat="item in blackboardBb">
                                <div><a href="{{item.linkManual}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Manuais complementares</h4>
                        <ul ng-controller="manuaisComplementares">
                            <li ng-repeat="item in blackboardBb">
                                <div><a href="{{item.linkManual}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#inicio">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../js/libs/jquery-2.0.3.min.js"><\/script>');</script>
<script src="../js/libs/angular.js"></script>
<script src="../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../js/listaCompletaManual_OLD.js"></script>
<script src="../js/manuaisRelacionados.js"></script>
<script src="../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../js/main.js"></script>
</body>
</html>
