<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBb-aluno">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Recursos e Tecnologias de Aprendizagem - Manuais de utilização - Alunos</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="../favicon-16.png">
    <link rel="stylesheet" type="text/css" media="print" href="../css/print.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main-with-aluno.css">
    <!--[if IE]>
        <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="../../js/libs/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Recursos e Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>
        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">
                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Assunto ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>
                    <nav role="navigation" class="navigationMain">
                        <!-- blackbaord -->
                        <h5 class="icoBlackboard">Blackboard</h5>
                        <ul class="noCategory" ng-repeat="item in blackboard | filter: {manual:searchText}">
                            <li class="sublist ng-class:addMark()">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                        
                        <!-- plagio acadêmico -->
                        <h5 class="icoPlagio">Plágio Acadêmico</h5>
                        <ul class="noCategory" ng-repeat="item in plagio_academico | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>

                        <!-- curso online -->
                        <h5 class="icoCursosOnline">Cursos <em>online</em> de Harvard</h5>
                        <ul class="noCategory" ng-repeat="item in curso_online | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>

                        <!-- clickers -->
                        <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ul class="noCategory" ng-repeat="item in clikcers | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                        
                         <!--catme -->
                        <h5 class="icoCatme">Catme</h5>
                        <ul class="noCategory" ng-repeat="item in catme | filter: {manual:searchText}">
                            <li class="sublist">
                                <a href="{{item.linkManual}}" title="{{item.manual}}">{{item.manual}}</a>
                            </li>    
                        </ul>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p><span><strong>Atualizado: </strong>26/04/2016</span></p>
                        </div>
                    </section>
                    <article class="contentMain row">
                        <h1>Como navegar</h1>
                        <div class="imageContainer row invisivel">
                            <img src="../img/home-aluno/step1.png" alt="" class="imgLeft">
                            <div class="legendaIndex" id="posLegendaIndex-aluno1">
                                <p>Procure no menu lateral a informação desejada. Os itens estão <strong>agrupados por tecnologia ou recurso</strong>.</p>
                            </div>
                        </div>
                        <hr class="linhaIndex">
                        
                        <div class="imageContainer row invisivel">
                            <img src="../img/home-aluno/step2.png" alt="" class="imgRight">
                            <div class="legendaIndex right" id="posLegendaIndex-aluno3">
                                <p>Outra opção é utilizar a caixa de busca.</p>
                                <p>Para realizar uma nova busca, basta apagar o termo digitado anteriormente.</p>
                            </div>
                        </div>
                        <hr class="linhaIndex">

                        <div class="imageContainer row invisivel">
                            <img src="../img/home-aluno/step3.png" alt="" class="imgLeft">
                            <div class="legendaIndex" id="posLegendaIndex-aluno4">
                                <p>Algumas páginas possuem um <strong>sumário</strong> que permite <strong>localizar informações específicas</strong> no conteúdo.</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="heigth:40px"></div>
                    </article>
                    <div class="margemParaImagem" style="height:20px"></div>
                    <div class="voltarSumario fix">
                        <a href="#main">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Scripts: plugins -->
    <script>navigator.userAgent.match("MSIE")&&document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
    <script src="../js/libs/angular.js"></script>
    <script src="../js/listaCompletaManual-aluno.js"></script>
    <script src="../js/main.js"></script>
    <script>
        $(document).ready(function(){
            $(window).bind( "load scroll touchmove", function(){
                var elementos = $( ".invisivel", ".contentMain" ),
                    myOffset = 100; // compensação visual. A lá Cardinalli
                elementos.each(function(i){
                    var bottomObj = $( this ).position().top + $( this ).outerHeight(),
                        bottomWindow = $( window ).scrollTop() + $( window ).height(); // - myOffset

                    // if object is completely in the window, fade it
                    if( bottomWindow > bottomObj ){
                        $( this ).animate({ "opacity": "1" }, 400);
                    }
                });
            });
        });
    </script>
    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      // ga('create', 'UA-59172929-3', 'auto');
      // ga('send', 'pageview');
    </script>
</body>
</html>
