<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnlogias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="selectedCategory" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>14/02/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Blackboard </span>
                                <span>&#62; </span>
                                Compartilhar materiais com os alunos
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row">
                        <h1>
                            Compartilhar materiais com os alunos
                        </h1>
                        <p>Para compartilhar um material no ambiente das disciplinas, clique na aba <strong>Início</strong> e, no menu da disciplina, escolha a pasta em que deseja inserir o material. Nos exemplos, será utilizada a pasta <strong>Conteúdos</strong>.</p>

                        <!-- <div class="margemParaImagem" style="margin-top:20px"></div> -->

                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <!--
                        
                        IMAGENS E BOX DE TEXTO
                        1- Alinhamento das imgs adicionar as classes: imgLeft ou imgRight. O comportamenteo padrão é centralizado;
                        2- Adicionar um id para cada box.
                        REGRAS:
                        - nome pasta assunto. ex: Bb, Catme, Casos, Clickers +
                        - nome da categoria [se houver]. ex: materiais, avaliação, trabalhos +
                        - nome do manual: as duas palavras iniciais. ex: criar pesquisa, associar rubric +
                        - numero identificador sequencial.

                        MODELO: BbMateriaisCarregarMateriais1

                        3- No CSS vc controla a posição de cada um. Há + de 1 media queries para adaptar!;
                        4- A classe 'boxDestaque' é o padrão. Para box com informações adicionais em fundo vermelho usar a classe 'boxDestaqueAdicional';
                        5- Após cada div.imageContainer inserir a div.respiro para aplicar uma margem entre eles. Insira um valor de margin-top no próprio html, visto que há inúmeras necessidades de tamanhos de margin;

                        -->

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step1.png" alt="" class="">
                        </div>

                        <p>Há sete itens principais:</p>
                        <ul>
                            <li>
                                <strong>Item: </strong>inserção de um texto, imagem, link ou arquivos de diferentes formatos em uma caixa de texto ou anexados.
                            </li>
                            <li>
                                <strong>Arquivo: </strong>inserção de um arquivo sem acompanhamento de descrição.
                            </li>
                            <li>
                                <strong>Áudio: </strong>inserção de arquivo de áudio para ser reproduzido na página (e não como anexo).
                            </li>
                            <li>
                                <strong>Imagem: </strong>inserção de uma imagem diretamente na página (e não como anexo).
                            </li>
                            <li>
                                <strong>Vídeo: </strong>inserção de arquivo de vídeo para ser reproduzido na página (e não como anexo).
                            </li>
                            <li>
                                <strong>URL: </strong>disponibilização de endereço de Internet.
                            </li>
                            <li>
                                <strong>Link da disciplina: </strong>possibilidade de redirecionar para uma área específica da disciplina.
                            </li>
                        </ul>

                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <!-- item -->
                        <h2 id="subTitulo1">Compartilhar materiais com os alunos – Item</h2>
                        <section class="row fix">
                            <p>O <strong>Item</strong> permite inserir qualquer tipo de material, podendo vir acompanhado de uma descrição escrita pelo professor.</p>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step2.png" alt="" class="">
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step3.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos1">
                                    <p>Defina o nome do item e digite as informações necessárias na caixa <strong>Texto</strong>.</p>
                                </div>
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos2">
                                    <p>Você pode exibir o conteúdo de um arquivo diretamente na caixa <strong>Texto</strong>, em vez de anexá-lo. Para isso, utilize os botões da Barra de Ferramentas.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step4.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos3">
                                    <p>Clique em <strong>Procurar Meu Computador</strong> se o arquivo só diz respeito à disciplina. Ou em <strong>Procurar Coleção de conteúdo</strong> se estiver salvo em sua pasta particular na Coleção de conteúdos.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:60px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step5.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos4">
                                    <p>Defina as opções de disponibilização e clique em <strong>Enviar</strong>.</p>
                                </div>
                            </div>

                        </section>

                        <!-- arquivo -->
                        <h2 id="subTitulo2">Compartilhar materiais com os alunos – Arquivo</h2>
                        <section class="row fix">
                            <p>Para disponibilizar um arquivo sem a necessidade de inserir uma descrição ou instrução, em vez de adicionar um <strong>Item</strong> escolha a opção <strong>Arquivo</strong>.</p>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step2a.png" alt="" class="">
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step6.png" alt="" class="">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos5">
                                    <p>Defina o nome do arquivo e clique em <strong>Procurar Meu Computador</strong> se o arquivo só diz respeito à disciplina. Ou em <strong>Procurar Coleção de conteúdo</strong> se estiver salvo em sua pasta particular na Coleção de conteúdos.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:40px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step7.png" alt="" class="">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos6">
                                    <p>Defina as opções de disponibilização e clique em <strong>Enviar</strong>.</p>
                                </div>
                            </div>
                        </section>

                        <!-- áudio -->
                        <h2 id="subTitulo3">Compartilhar materiais com os alunos – Áudio</h2>
                        <section class="row fix">
                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step2b.png" alt="" class="">
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step8.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos6b">
                                    <p>Clique em <strong>Procurar Meu Computador</strong> se o áudio estiver salvo no computador ou em um dispositivo móvel. Ou em <strong>Procurar Coleção de conteúdo</strong> se estiver salvo na <strong>Coleção de conteúdos</strong>.</p>
                                </div>
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos7">
                                    <p>Se o áudio tiver transcrição, clique em <strong>Procurar</strong> para selecioná-la.</p>
                                </div>
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos8">
                                    <p>Se <strong>Ativação automática</strong> e Loop estiverem configurados como <strong>Sim</strong>, a reprodução começará assim que o aluno abrir a página e continuará tocando até que ele a interrompa.</p>
                                </div>
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos9">
                                    <p>Defina as opções de disponibilização do arquivo e clique em <strong>Enviar</strong>.</p>
                                </div>
                                <div class="boxDestaqueAdicional" id="BbMateraisCompartilharMateriaisAlunos10">
                                    <p>Não é possível alterar o arquivo de áudio após ter clicado em <strong>Enviar</strong>. Para modificar o áudio é necessário apagá-lo e inserir um novo.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                        </section>

                        <!-- imagem -->
                        <h2 id="subTitulo4">Compartilhar materiais com os alunos – Imagem</h2>
                        <section class="row fix">
                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step2c.png" alt="" class="">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos11">
                                    <p>Clique em <strong>Procurar Meu Computador</strong> se a imagem estiver salva no computador ou em um dispositivo móvel. Em <strong>Procurar Coleção de conteúdo</strong> se estiver salva na Coleção de conteúdos. Ou em <strong>Procurar Mashups</strong> se for uma imagem do <a href="https://www.flickr.com/" target="_blank">Flickr</a>.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step9.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos12">
                                    <p>Insira no <strong>Texto alternativo</strong> uma descrição a ser exibida quando o mouse estiver sobre a imagem. </p>
                                    <p>No campo <strong>Descrição longa</strong> forneça uma descrição mais detalhada para pessoas com deficiência visual.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step10.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos13">
                                    <p>A imagem pode ser exibida em seu tamanho original ou ser personalizada (para evitar distorções mantenha sempre a proporção de largura e altura).</p>
                                    <p>Imagens muito grandes devem ser abertas em uma nova janela.</p>
                                </div>
                            </div>

                             <div class="margemParaImagem" style="margin-top:20px"></div>

                        </section>

                        <!-- video -->
                        <h2 id="subTitulo5">Compartilhar materiais com os alunos – Vídeo</h2>
                        <section class="row fix">
                           <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step2d.png" alt="" class="">
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step11.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos14">
                                    <p>Clique em <strong>Procurar Meu Computador</strong> se o vídeo estiver salvo no computador ou em um dispositivo móvel. Em <strong>Procurar Coleção de conteúdo</strong> se estiver salvo na Coleção de conteúdos. Ou em <strong>Procurar Mashups</strong> se for um vídeo do <a href="http://youtube.com/" target="_blank">Youtube</a>.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step12.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos15">
                                    <p>Escolha se o vídeo será exibido em sua dimensão original ou personalize as medidas em pixels. A largura e altura padrão são 320 e 240 pixels, respectivamente. </p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                            <ul>
                                <li>
                                    <strong>MPEG </strong>(.mpg ou .mpeg): arquivos audiovisuais em formato digital compactado. 
                                </li>
                                <li>
                                    <strong>AVI </strong>(.avi): formato de arquivo da Microsoft para armazenar dados de áudio e vídeo. 
                                </li>
                                <li>
                                    <strong>QuickTime </strong>(.mov ou .qt): sistema de vídeo e animação que aceita a maioria dos formatos, inclusive JPG e MPEG. Os usuários de PC precisam de um driver QuickTime para exibir arquivos neste formato. Já os usuários de Macintosh não precisam desse driver.
                                </li>
                                <li>
                                    <strong>Flash/Shockwave </strong>(.swf ou .swa): arquivos do Adobe Flash e Shockwave que aceitam áudio, animação e vídeo. A exibição destes arquivos independe do navegador.
                                </li>
                            </ul>

                            <div class="margemParaImagem" style="margin-top:20px"></div>

                        </section>

                        <!-- URL -->
                        <h2 id="subTitulo6">Compartilhar materiais com os alunos – URL</h2>
                        <section class="row fix">
                           <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step2e.png" alt="" class="">
                                <div class="boxDestaqueAdicional" id="BbMateraisCompartilharMateriaisAlunos16">
                                    <p>Nada impede que links sejam disponibilizados diretamente nas caixas Texto do Blackboard. Para isso, selecione o texto que representa o link, clique no ícone Hiperlink <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/ico.png" alt="Ícone de Hiperlink do Blackboard" class="icos">e indique o site de destino.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:40px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step13.png" alt="" class="">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos17">
                                    <p>Insira um nome descritivo para o link.</p>
                                    <p>Na indicação do endereço do site, não se esqueça de colocar <code>http://</code></p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:40px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step14.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos18">
                                    <p>Na caixa <strong>Texto</strong> acrescente uma descrição.</p>
                                </div>
                            </div>

                            <div class="margemParaImagem" style="margin-top:40px"></div>

                            <div class="imageContainer row">
                                <img src="../../../img/Blackboard/materiais/compartilhar-materiais-com-os-alunos/step15.png" alt="" class="imgLeft">
                                <div class="boxDestaque" id="BbMateraisCompartilharMateriaisAlunos19">
                                    <p>Se necessário, anexe um ou mais arquivos.</p>
                                </div>
                            </div>
                                
                        </section>

                        <div class="margemParaImagem" style="margin-top:40px"></div>
                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                    </article>

                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="titulo4" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in Compartilhar_materiais_com_os_alunos" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in Compartilhar_materiais_com_os_alunos" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../../js/libs/angular.js"></script>
<script src="../../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../../js/listaCompletaManualWS.js"></script>
<script src="../../../js/manuaisRelacionadosWS.js"></script>
<script src="../../../js/materiaisComplementaresWS.js"></script>

<!-- Scripts: do projeto -->
<script src="../../../js/main.js"></script>
</body>
</html>
