<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist ng-class: addMark()" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <!-- <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol> -->
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                         <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:tai@insper.edu.br?subject=TAI%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>08/08/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Blackboard </span>
                                <span>&#62; </span>
                                Restringir visualização de materiais ou atividades a público específico
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row">
                        <h1>Restringir visualização de materiais ou atividades a público específico</h1>
                        <p>Caso seja necessário restringir a visualização de materiais ou atividades a públicos específicos (alunos ou grupos) é preciso criar uma <strong>Versão Adaptável </strong>no link que terá seu acesso restrito. Isso é útil, por exemplo, quando determinado estudo de caso possui versões diferentes para cada grupo, ou quando somente um aluno terá oportunidade de enviar um trabalho após o prazo.</p>
                        <p>A versão adaptável possui quatro tipos de critério para restringir a visualização de um item aos usuários: Data, Inscrição, Nota e Estado de Revisão. Esses critérios podem ser usados individualmente ou combinados.</p>

                        <!--
                        
                        IMAGENS E BOX DE TEXTO
                        1- Alinhamento das imgs adicionar as classes: imgLeft ou imgRight. O comportamenteo padrão é centralizado;
                        2- Adicionar um id para cada box.
                        REGRAS:
                        - nome pasta assunto. ex: Bb, Catme, Casos, Clickers +
                        - nome da categoria [se houver]. ex: materiais, avaliação, trabalhos +
                        - nome do manual: as duas palavras iniciais. ex: criar pesquisa, associar rubric +
                        - numero identificador sequencial.

                        MODELO: BbMateriaisCarregarMateriais1

                        3- No CSS vc controla a posição de cada um. Há + de 1 media queries para adaptar!;
                        4- A classe 'boxDestaque' é o padrão. Para box com informações adicionais em fundo vermelho usar a classe 'boxDestaqueAdicional';
                        5- Após cada div.imageContainer inserir a div.respiro para aplicar uma margem entre eles. Insira um valor de margin-top no próprio html, visto que há inúmeras necessidades de tamanhos de margin;

                        -->

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step1.png" alt="" class="">
                        </div>

                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <h2 id="subTitulo1">Versão Adaptável: Data</h2>
                        <p>A restrição de data é a mais comum e deve ser usada com cautela para não entrar em conflito com as opções <strong>Exibir depois</strong> e <strong>Exibir até</strong> , disponibilizadas no momento de criação ou edição de um item. Normalmente essa restrição é usada em conjunto com outros critérios.</p>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step2.png" alt="" class="">
                            <div class="boxDestaqueAdicional" id="BbGeralRestringirVisualizacao1">
                                <p>Caso seja identificado conflito no momento de alterar as datas de disponibilidade de um item na opção <strong>Editar</strong> ou na opção <strong>Versão adaptável</strong>, uma mensagem de alerta será exibida.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:120px"></div>

                        <h2 id="subTitulo2">Versão Adaptável: Inscrição</h2>
                        <p>A inscrição permite adicionar ao critério de restrição de visualização, usuários específicos e/ou <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Blackboard/grupos/criar-grupos/" target="_blank">grupos previamente criados</a>.</p>
                        <p>Exemplo: suponha que determinado item deve ficar disponível de 01/04 a 24/04 e que essa configuração seja feita no momento de criação desse item. A versão adaptável pode ser configurada para estender essa disponibilidade a um grupo específico de alunos até 30/04.</p>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step3.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbGeralRestringirVisualizacao2">
                                <p>Selecione usuários específicos em <strong>Pesquisar...</strong> e/ou os grupos que terão visualização diferenciada do item.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:80px"></div>

                        <h2 id="subTitulo3">Versão Adaptável: Nota</h2>
                        <p>É possível condicionar a visualização do item à nota atingida em uma coluna específica da Central de Notas.</p>
                        <p>Exemplo: somente alunos que tiveram nota inferior a 6,0 em um teste diagnóstico visualizarão um material complementar de nivelamento.</p>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step4.png" alt="" class="">
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <h2 id="subTitulo4">Versão Adaptável: Estado de Revisão</h2>
                        <p>Todos os itens disponibilizados no ambiente virtual possuem uma propriedade chamada <strong>Estado de Revisão</strong>. Por padrão, essa configuração é desativada, cabendo ao professor alterar seu status.</p>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step5.png" alt="" class="">
                        </div>
                        <p>Quando está ativada, essa opção exibe ao aluno um botão chamado Marcar como visto. Isso permite ao professor controlar quais alunos selecionaram ou não essa opção, ou seja, quais alunos atestaram que “visualizaram” determinado item.</p>
                        <div class="margemParaImagem" style="margin-top:20px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step6.png" alt="" class="imgLeft">
                            <div class="boxDestaqueAdicional" id="BbGeralRestringirVisualizacao3">
                                <p>Para consultar o status de cada aluno no <strong>Estado de Revisão</strong> de determinado item, basta ir em <strong>Avaliação</strong>, <strong>Painel de Desempenho</strong> e consultar, na coluna <strong>Versão Adaptável</strong>, os itens indicados com “Visto”.</p>
                            </div>
                        </div>
                        
                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <p>A Versão Adaptável baseada em um Estado de Revisão indica que aquele item só será visualizado pelos usuários que marcarem um item preestabelecido como “Visto”.</p>
                        <p>Exemplo: só poderá participar de um Fórum de Discussão quem atestar que leu o código de ética e conduta.</p>
                         <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step7.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbGeralRestringirVisualizacao4">
                                <p>Selecione na listagem completa de itens do curso, qual deles o aluno deverá marcar como “Visto” para ter acesso ao item que está sendo configurado com a Versão Adaptável.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <h2 id="subTitulo5">Versão Adaptável: Avançada</h2>
                        <p>A <strong>Versão Adaptável</strong>  cria uma regra composta por diferentes critérios (data, inscrição, nota e estado de revisão) que devem ser atendidos para que o item seja visualizado pelos usuários.</p>
                        <p>Caso a visualização de um item seja condicionada a diferentes regras é necessário criar uma <strong>Versão Adaptável: Avançada</strong>.</p>
                        <p>Exemplo: podem visualizar o link para uma prova:</p>
                        <ul>
                            <li>Os alunos que tiraram nota inferior a 6,0 na prova anterior, <strong>e</strong></li>
                            <li>Um grupo específico de alunos que foram bem na prova anterior, mas sobre o qual há suspeita de cola.</li>
                        </ul>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step8.png" alt="" class="">
                            <div class="boxDestaqueAdicional" id="BbGeralRestringirVisualizacao5">
                                <p>Caso uma <strong>Versão Adaptável</strong> já tenha sido criada previamente, ela aparecerá na lista como “Regra 1”.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:120px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step9.png" alt="" class="">
                        </div>
                        
                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step10.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbGeralRestringirVisualizacao6">
                                <p>Defina a regra adicionando critérios de Data, Nota, Inscrição ou Estado de Revisão. Cada regra pode ter, no máximo, um critério de cada tipo.</p>
                            </div>
                            <div class="boxDestaqueAdicional" id="BbGeralRestringirVisualizacao7">
                                <p>Os critérios de <a href="#subTitulo1">Data</a>, <a href="#subTitulo3">Nota</a>, <a href="#subTitulo2">Inscrição</a> e <a href="#subTitulo4">Estado de Revisão</a> seguem a mesma especificação descrita anteriormente.</p>
                            </div>
                        </div>

                        <div class="margemParaImagem" style="margin-top:120px"></div>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step11.png" alt="" class="imgLeft">
                            <div class="boxDestaque" id="BbGeralRestringirVisualizacao8">
                                <p>Os critérios adicionados são listados na sequência. É possível alterar ou excluir os critérios individualmente.</p>
                            </div>
                        </div>
                        
                        <div class="margemParaImagem" style="margin-top:40px"></div>
                        
                        <p>Após confirmar a inclusão de uma regra ela é adicionada na lista. Os critérios associados a cada regra são exibidos ao lado.</p>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/restringir-visualizacao-de-materiais/step12.png" alt="" class="">
                        </div>
                        <div class="margemParaImagem" style="margin-top:80px"></div>

                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                    </article>

                    <!-- Devidos aos poucos itens 'Saiba Mais'
                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div> -->
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in BbGeral  " class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in BbGeral" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../../js/libs/angular.js"></script>
<script src="../../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../../js/listaCompletaManual.js"></script>
<script src="../../../js/manuaisRelacionados.js"></script>
<script src="../../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../../js/main.js"></script>

<!-- Scripts: google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53927287-1', 'auto');
  ga('send', 'pageview');
  // ga('set', '&uid', {{UA-53927287-1}});
</script>
</body>
</html>
