<!DOCTYPE html>
<html class="no-js" lang="pt-br" ng-app="manuaisBB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Tecnologias de Aprendizagem - Manuais de utilização</title>
<meta name="viewport" content="width=device-width">
<meta name="msapplication-TileImage" content="tile.png"/>
<meta name="msapplication-TileColor" content="#d02034"/>

<link rel="stylesheet" type="text/css" media="print" href="../../../css/print.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/main.css">

<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<link rel="icon" href="../../../favicon-16.png" sizes="16x16">
<link rel="icon" href="../../../favicon-32.png" sizes="32x32">
<link rel="icon" href="../../../favicon-48.png" sizes="48x48">
<link rel="icon" href="../../../favicon-64.png" sizes="64x64">
<link rel="icon" href="../../../favicon-128.png" sizes="128x128">

<!--
1- iPad com Retina Display;
2- iPhone com Retina Display;
3- Primeira e segunda geração de iPad;
4- Versões antigas de iPhone, iPod Touch e Android 2.2+
-->
<link rel="apple-touch-icon" sizes="144x144" href="../../../apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../../apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../../apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="../../../apple-touch-icon.png">

<!--[if IE]>
    <link href="../../../css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="../../../js/libs/html5shiv.js"><\/script>')</script>
<![endif]-->

</head>
<body>
    <!-- alert para visualização abaixo de 768px -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close">&times;</button>
        Melhor visualizado com resolução de 768px de largura ou superior.
    </div>

    <div class="wrapper">
        
        <header id="top" class="wfull fix">
            <div class="logo c4">
                <img src="../../../img/logoInsper.jpg" alt="Insper Instituto de Ensino e Pesquisa">
            </div>
            <div class="titleHeader c8">
                <p class="title">Tecnologias de Aprendizagem</p>
                <p class="description">Manuais de utilização</p>
            </div>
        </header>

        <div id="main" role="main" class="fix wfull">
            <div class="containerMain fix row">

                <!-- início da área da busca -->
                <section class="buscaMain c4" ng-controller="listaMenu">
                    <div class="inputSearch">
                        <form id="busca">
                            <label for="pesquisa"></label>
                            <input type="text" id="pesquisa" class="inputPesquisa" placeholder="Busca por título ou palavra-chave" ng-model="searchText">
                        </form>
                    </div>

                    <nav role="navigation" class="navigationMain">
                        <h5 class="icoBlackboard">Blackboard</h5>

                        <ol class="noCategory" ng-repeat="item in BbConhecerAmbiente | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>    
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbMateriais | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbComunicacaoInteracao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTrabalhos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGrupos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                                
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbTestesPesquisas | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbRubrics | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbAvaliacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbGeral| filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist ng-class: addMark()" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in BbCalendario | filter: {manual:searchText}">
                        <li class="nameCategory">
                            <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            
                        </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <h5 class="icoCatme">Catme</h5>
                        <ol class="noCategory" ng-repeat="item in catmeSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAplicarPesquisaAval | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in catmeAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <!-- <h5 class="icoClickers">Votadores eletrônicos (clickers)</h5>
                        <ol class="noCategory" ng-repeat="item in clickerSobreFerramenta | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerUtilizarVotadores | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPrepararSlides | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerIdentificarVoto | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerPromoverVotacao | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in clickerAnalisarResultados | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol> -->
                        
                        <h5 class="icoCursosOnline">Casos, Simuladores e Cursos online</h5>
                        <ol class="noCategory" ng-repeat="item in SobreOsRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in ConsultarRecursosDisponiveis | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                        <ol class="noCategory" ng-repeat="item in UtilizarRecursos | filter: {manual:searchText}">
                            <li class="nameCategory">
                                <p class="" ng-show="item.categoria.length > 1">{{item.categoria}}</p>
                            </li>
                            <li class="sublist" ng-show="item.manual.length > 1">
                                <a href="{{item.linkManual}}" type="text/html">{{item.manual}}</a>
                            </li>
                        </ol>

                         <div class="faqBusca icoFaq">
                            <h5>
                            <ol class="noCategory">
                                <li><a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/faq/index.html" class="">FAQ</a></li>
                            </ol>
                            </h5>
                        </div>
                        <div class="outros">
                            <h6>
                                <a href="mailto:tai@insper.edu.br?subject=TAI%20-%20Manuais%20de%20utiliza&#231;&#227;o">Não encontrou o que queria?</a>
                            </h6>
                        </div>
                    </nav>
                </section>

                <!-- início do conteúdo do manual -->
                <section class="mainContent c8">
                    <section class="headerContent row">
                        <div class="cabecalho fix">
                            <p>
                                <!-- adicionar a data da produção do material -->
                                <span><strong>Atualizado: </strong>14/08/2014</span>
                            </p>
                        </div>
                        <hr>
                        <div class="breadcrumb">
                            <p>
                                <span class="nameCategory">Blackboard </span>
                                <span>&#62; </span>
                                Padronização dos ambientes online da PGLS
                            </p>
                        </div>
                    </section>

                    <!-- 
                    
                    INTRODUCAO
                    1- Texto do título h1 é o mesmo do 'p' da div.breadcrumb;
                    2- div.sumario aparece logo depois da introdução do texto 'quando houver' e serve para listar todos os subtítulos da página definidos pela tag 'h2';
                    3- toda tag 'h2' receberá esta sintaxe:
                    '<h2 id="subTituloX">Texto aqui</h2>'
                    É necessário adicionar um número identificador;

                     -->

                    <article class="contentMain row">
                        <h1>Padronização dos ambientes online da PGLS</h1>
                        
                        <!-- <h4 class="introdPadronizPGLS">Introdução</h4> -->

                        <!--
                        
                        IMAGENS E BOX DE TEXTO
                        1- Alinhamento das imgs adicionar as classes: imgLeft ou imgRight. O comportamenteo padrão é centralizado;
                        2- Adicionar um id para cada box.
                        REGRAS:
                        - nome pasta assunto. ex: Bb, Catme, Casos, Clickers +
                        - nome da categoria [se houver]. ex: materiais, avaliação, trabalhos +
                        - nome do manual: as duas palavras iniciais. ex: criar pesquisa, associar rubric +
                        - numero identificador sequencial.

                        MODELO: BbMateriaisCarregarMateriais1

                        3- No CSS vc controla a posição de cada um. Há + de 1 media queries para adaptar!;
                        4- A classe 'boxDestaque' é o padrão. Para box com informações adicionais em fundo vermelho usar a classe 'boxDestaqueAdicional';
                        5- Após cada div.imageContainer inserir a div.respiro para aplicar uma margem entre eles. Insira um valor de margin-top no próprio html, visto que há inúmeras necessidades de tamanhos de margin;

                        -->

                        <!-- <h3 class="subTituloIntrod">Padronização dos ambientes</h3>
                        <p>Todos os ambientes de apoio às disciplinas da Pós Graduação Lato-Sensu (PGLS) no Blackboard possuem a mesma estrutura:</p>
                        <ul>
                            <li>Avisos</li>
                            <li>Conteúdos</li>
                            <li>Notas</li>
                            <li>Enviar e-mail</li>
                            <li>Central de ajuda</li>
                        </ul>

                        <h3 class="subTituloIntrod">Organização por aulas</h3> -->
                        <p>A partir do 4º trimestre de 2014, o item "Conteúdos" do menu dos ambientes online das <strong>disciplinas da pós-graduação lato-sensu (PGLS)</strong> passou a conter:</p>
                        <ul>
                            <li>Pasta “Plano de Aula e Documentos da Disciplina": para publicação do plano de aula e demais documentos referentes à disciplina (materiais transversais às aulas devem ser publicados nesta pasta, eventualmente em subpastas criadas de acordo com a necessidade).</li>
                            <li>Pastas de aulas: para publicação de arquivos e atividades referentes a cada uma das aulas.</li>
                        </ul>
                        <p>Essa medida foi baseada em pesquisas realizadas junto a docentes e alunos da PGLS e tem como objetivo facilitar a organização do professor e consulta dos alunos a materiais e atividades em todas as disciplinas no programa.</p>
                        
                        <div class="margemParaImagem" style="margin-top:70px"></div>
                        
                        <div class="imageContainer row">
                            <!-- <img src="../../../img/Blackboard/geral/padronizacao-ambiente-online-pgls/step1.png" alt="" class=""> -->
                            <div class="boxDestaque" id="BbGeralPadronizarPGLS1">
                                <h4>Atenção!</h4>
                                <p>Essa mudança não se aplica a outros programas (Graduação, Educação Executiva e Mestrado).</p>
                            </div>
                        </div>
                        <div class="margemParaImagem" style="margin-top:20px"></div>
                        
                        <p>Para ajudá-lo a organizar o ambiente da sua disciplina conforme a padronização proposta, preparamos os seguintes tutoriais:</p>

                        <div class="sumario row">
                            <h3 id="sumarioAncora">Sumário</h3>
                        </div>

                        <h2 id="subTitulo0">Boas práticas</h2>
                        <p>Não bastam pastas específicas por aulas: é necessário organizar o conteúdo de cada uma delas.</p>
                        <p>Veja alguns conselhos para uma boa organização de seu ambiente no Blackboard:</p>
                        <ul>
                            <li>Mantenha a mesma lógica de nomenclatura de arquivos ao longo de todas as aulas.</li>
                            <li>Ao criar atividades, informe explicitamente as instruções e os critérios de avaliação (mesmo que já constem do plano de aula ou tenham sido mencionados em sala)</li>
                            <li>Sempre que possível, preencha a data de vencimento das atividades, para que apareçam automaticamente no calendário dos alunos.</li>
                            <li>Invista um pouco de tempo das aulas iniciais para explicar à classe como navegar pelo ambiente da disciplina, acessar os materiais e desenvolver as atividades.</li>
                        </ul>

                        <div class="margemParaImagem" style="margin-top:40px"></div>

                        <h2 id="subTitulo1">Publicar plano de aula</h2>
                        <p>O arquivo do Plano de Aula deve ser publicado dentro da pasta "Plano de Aula e Documentos da Disciplina" (item “Conteúdos” do menu) em formato PDF:</p>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/padronizacao-ambiente-online-pgls/step1.png" alt="" class="">
                        </div>
                        <div class="margemParaImagem" style="margin-top:60px"></div>

                        <h2 id="subTitulo2">Criar pastas</h2>
                        <p>Caso seja necessário criar novas pastas, faça o seguinte:</p>

                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/padronizacao-ambiente-online-pgls/step2.png" alt="" class="">
                        </div>
                        <p>Observações:</p>
                        <ul>
                            <li>Caso necessite de pastas para arquivos referentes a uma aula específica, faça a criação dentro da respectiva aula.</li>
                            <li>Caso necessite de pastas para materiais ou atividades transversais às aulas, faça a criação dessas novas pastas dentro da pasta “Plano de Aula e Documentos da Disciplina”.</li>
                        </ul>
                        <div class="margemParaImagem" style="margin-top:60px"></div>

                        <h2 id="subTitulo3">Ocultar pastas</h2>
                        <p>Caso a disciplina tenha menos aulas do que número previsto, você deve ocultar as pastas excedentes da seguinte maneira:</p>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/padronizacao-ambiente-online-pgls/step3.png" alt="" class="">
                        </div>

                        <div class="margemParaImagem" style="margin-top:60px"></div>

                        <h2 id="subTitulo4">Liberar exibição de pastas</h2>
                        <p>Caso queira liberar pastas que estão ocultas, faça o seguinte:</p>
                        <div class="imageContainer row">
                            <img src="../../../img/Blackboard/geral/padronizacao-ambiente-online-pgls/step4.png" alt="" class="">
                        </div>
                        <p>Observação: esse procedimento é necessário quando sua disciplina possuir 11 ou 12 aulas, já que as respectivas pastas são ocultas por padrão.</p>

                        <div class="margemParaImagem" style="margin-top:60px"></div>

                        <h2 id="subTitulo4">Aproveitar materiais de um curso para outro</h2>
                        <p>A cada novo trimestre, você pode <a href="https://insper.blackboard.com/bbcswebdav/institution/TAI/Manuais/html/Blackboard/materiais/aproveitar-materiais-de-um-curso-para-outro/" target="_blank">aproveitar materiais de um curso para outro</a>.</p>
                        <p>No entanto, por conta da padronização, pode ser que as pastas fiquem duplicadas (duas pastas "Aula 1", duas pastas "Aula 2" etc.).</p>
                        <p>Para evitar duplicações, faça o seguinte ao reaproveitar materiais de uma disciplina para outra:</p>
                        <ul>
                            <li>Na disciplina de destino, exclua o item “Conteúdos” (ainda vazio).</li>
                            <li>Faça normalmente a cópia de disciplina.</li>
                        </ul>
                        <p>Caso a “duplicação” já tenha ocorrido, é necessário ocultar as pastas excedentes vazias, conforme procedimento anterior.</p>
                         <div class="margemParaImagem" style="margin-top:80px"></div>


                        <!-- 
                        
                        ÂNCORAS [VOLTAR AO SUMÁRIO]
                        1- Adicionar a div.row vazia antes de cada subtítulo ('h2'). Ela será respónsável também de inserir a âncora para retornar ao sumário lá em cima;
                        2- a div#ancoraSaibaMais fica após o fechamento desta tag 'article'. Ela é por padrão fixa em todos os manuais. Em situações em que o manual não tiver 'Manuais relacionados' e 'Manuais Complementares' esta div desaparece;
                        3- Depois da tag section.saibaMais há a única âncora da página que não recebe condicionais;

                         -->

                    </article>

                    <!-- Devidos aos poucos itens 'Saiba Mais'
                    <div id="ancoraSaibaMais" class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div> -->
                    
                    <!-- inicio do box Saiba mais -->
                    <section class="saibaMais row fix">
                        <h2 id="saiba-mais" class="ancora">Saiba Mais</h2>
                        
                        <h4 id="relacionado">Manuais relacionados</h4>
                        <ul  ng-controller="manuaisRelacionados">
                            <!-- class="default"  -->
                            <li ng-repeat="item in BbGeral_Padronizacao_PGLS" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}">{{item.manual}}</a></div>
                            </li>
                        </ul>
                        
                        <h4 id="complementar">Materiais complementares</h4>
                        <ul ng-controller="materiaisComplementares">
                            <li ng-repeat="item in BbGeral_Padronizacao_PGLS" class="ng-class: item.tipoIcone">
                                <div><a href="{{item.Link}}" target="_blank">{{item.manual}}</a></div>
                            </li>
                        </ul>
                    </section>

                    <div class="voltarSumario fix">
                        <a href="#pesquisa">Início</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="fix respiro"></div>

<!-- Scripts: plugins -->
<script>navigator.userAgent.match("MSIE")&&document.write('<script src="../../../js/libs/jquery-1.10.2.min.js"><\/script>')||document.write('<script src="../../../js/libs/jquery-2.0.2.min.js"><\/script>');</script>
<script src="../../../js/libs/angular.js"></script>
<script src="../../../js/libs/jquery.placeholder.js"></script>

<!-- Scripts: controllers do AngularJs -->
<script src="../../../js/listaCompletaManual.js"></script>
<script src="../../../js/manuaisRelacionados.js"></script>
<script src="../../../js/materiaisComplementares.js"></script>

<!-- Scripts: do projeto -->
<script src="../../../js/main.js"></script>

<!-- Scripts: google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53927287-1', 'auto');
  ga('send', 'pageview');
  // ga('set', '&uid', {{UA-53927287-1}});
</script>
</body>
</html>
